@font-face {
    font-family: 'DBAdman';
    src: url('DBAdmanX.woff2') format('woff2'), url('DBAdmanX.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}