@import 'animate';
.account-menu {
    .navbar-nav {
        flex-direction: initial;
        .nav-link {
            font-family: $ff-bold, $ff-dbadmanBold;
            text-transform: uppercase;
            margin-right: 1rem;
            font-size: .9rem;
            &.active {
                // border-bottom: 2px solid $c-black;
                // padding-bottom: 0;
            }
        }
    }
    .noti-list {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 1rem;
            width: 0;
            height: 0;
            border: 13px solid transparent;
            border-bottom-color: #f3f3f3;
            border-top: 0;
            margin-left: -13px;
            margin-top: -13px;
        }
        padding: .5rem 1rem;
        width: 250px;
        background: #f3f3f3;
        position: absolute;
        z-index: 999;
        top: 3rem;
        right: -1.25rem;
        border-radius: 6px;
        box-shadow: 1px 1px 6px 0px $c-darkgold;
        p {
            line-height: 1rem;
        }
    }
}

.account-body {
    .ac-album {
        overflow: hidden;
        padding-bottom: 2rem;
    }
    .album-item {
        .zoom-in {
            overflow: hidden;
            border-radius: 6px;
        }
    }
    .tab-content {
        border: 1px solid #dee2e6;
        margin-top: -1px;
        .tab-pane {
            padding: 1.5rem;
            .form-group {
                margin-bottom: 1rem;
            }
        }
        .user-profile {
            border-bottom: 1px solid $c-darkgold;
            padding-bottom: 1.5rem;
        }
        label {
            font-family: $ff-dbadmanBold;
        }
        input,
        select,
        textarea {
            color: $c-darkgold;
        }
    }
    .btn-delete-person {
        position: absolute;
        bottom: 1rem;
        right: 3rem;
    }
    .btn-delete-cate {
        position: absolute;
        bottom: -0.25rem;
        right: -2.5rem;
    }
}

.album-item {
    .slick-current.slick-active {
        .slider-nav-item {
            img {
                box-shadow: 0px 6px 0px 0px #ffbc00;
            }
        }
    }
}

.ac-menu-left {
    background: $c-lightgold;
    //height: 100%;
    .personal-info {
        #pic_profile {
            width: 150px;
            height: 150px;
        }
        .personal-desc {
            i {
                width: 40px;
                text-align: right;
            }
        }
    }
    .person-item {
        i {
            width: 50px;
            height: 50px;
            background-color: $c-white;
            color: $c-darkgold;
            font-size: 2rem;
            text-align: center;
            padding-top: 8px;
            border-radius: 50px;
        }
        .item-desc {
            padding-left: 1rem;
            span,
            a {
                line-height: 1.25rem;
                display: block;
                text-decoration: none;
                color: $c-black;
            }
            a:hover {
                color: $c-darkgold;
            }
            .box-info {
                line-height: 1rem;
            }
        }
    }
    .social-contact {
        a {
            text-decoration: none;
            color: $c-black;
            padding: 0 .5rem;
            &:hover {
                color: $c-darkgold;
            }
        }
    }
    .border-b {
        border-bottom: 2px solid $c-lightgray;
        padding: 1rem 0;
    }
}

.input-disabled {
    input,
    textarea {
        &:disabled {
            background-color: transparent;
            border: none;
            padding: 0 !important;
        }
    }
}

.ac-ul-menu {
    position: absolute;
    top: 3rem;
    right: 1rem;
    z-index: 99;
    min-width: 150px;
    background-color: $c-white;
    box-shadow: 0px 0px 10px 0px #c1c1c1;
    a {
        text-decoration: none;
        color: $c-black;
        &:hover {
            color: $c-darkgold;
        }
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 1rem;
        width: 0;
        height: 0;
        border: 13px solid transparent;
        border-bottom-color: $c-white;
        border-top: 0;
        margin-left: -13px;
        margin-top: -13px;
    }
    ul {
        padding: 1rem;
        margin: 0;
        list-style: none;
        text-align: left;
        li {
            border-bottom: 1px solid $c-gray;
            &:not(:last-child) {
                margin-bottom: .5rem;
            }
        }
    }
}

.event-body {
    .slider-nav,
    .event-nav,
    .event-nav-list {
        .slick-slide {
            padding: 1rem;
        }
    }
    .event-info {
        padding: 1rem;
    }
    .event-item-box {
        .item-desc {
            height: 144px;
        }
    }
    .event-section {
        border-bottom: 1px solid $c-darkgold;
        .slick-slide {
            .event-item-box {
                border: 1px solid $c-lightgold;
                cursor: pointer;
                &:hover {
                    box-shadow: 0px 0px 4px 2px #c1c1c1;
                    .item-desc strong {
                        border-bottom: 1px solid $c-darkgold;
                    }
                }
            }
        }
        .slick-current.slick-active {
            .event-item-box {
                border: 0;
                box-shadow: 0px 0px 4px 2px #c1c1c1;
            }
        }
        .item-desc {
            position: relative;
            .event-success {
                position: absolute;
                top: -2.5rem;
                left: 0;
                width: 50%;
                text-align: center;
                background-color: #198754;
                color: #fff;
                border-radius: 0 50px 50px 0;
                box-shadow: 1px 1px 0px 1px #146d43;
                span {
                    position: relative;
                    i {
                        position: absolute;
                        top: 2px;
                        right: -30px;
                    }
                }
            }
            .event-pending {
                position: absolute;
                top: -2.5rem;
                left: 0;
                width: 50%;
                text-align: center;
                background-color: #fd7e14;
                color: #fff;
                border-radius: 0 50px 50px 0;
                box-shadow: 1px 1px 0px 1px #d46e1b;
                span {
                    position: relative;
                    i {
                        position: absolute;
                        top: 2px;
                        right: -30px;
                    }
                }
            }
            .event-fail {
                position: absolute;
                top: -2.5rem;
                left: 0;
                width: 50%;
                text-align: center;
                background-color: #dc3545;
                color: #fff;
                border-radius: 0 50px 50px 0;
                box-shadow: 1px 1px 0px 1px #aa2936;
                span {
                    position: relative;
                    i {
                        position: absolute;
                        top: 2px;
                        right: -30px;
                    }
                }
            }
        }
    }
    .myevent-desc {
        height: 0;
        overflow: hidden;
    }
}

.acform-body {
    .acform-item {
        background-color: $c-lightgray;
        padding: 1rem;
        border-radius: 6px;
        .ac-form-file {
            i {
                font-size: 6rem;
            }
        }
    }
    .acform-upload {
        background-color: $c-lightgray;
        padding: 1rem 2rem;
        border-radius: 6px;
        i {
            display: none;
        }
    }
}

.img_edit {
    background-image: url('../../images/img-edit.jpg');
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    &:hover {
        background-position: bottom;
    }
}

#pic_profile {
    width: 226px;
    height: 226px;
    object-fit: cover;
}

.ac-album-form {
    .fallback {
        border: 1px solid $c-gray;
        border-radius: 4px;
        padding: 1rem;
        margin-bottom: 15px;
        min-height: 150px;
        img {
            width: 14.95%;
            margin: .5rem;
        }
    }
}

.album-managed {
    margin: 0 -.5rem;
    .managed-item {
        position: relative;
        width: 12.47%;
        margin: .5rem;
        float: left;
        i {
            position: absolute;
            top: .5rem;
            right: .5rem;
            font-size: 1.25rem;
            background: #fff;
            color: #dc3545;
            padding: 4px;
            border-radius: 6px;
            cursor: pointer;
            &:hover {
                background: #dc3545;
                color: #fff;
            }
        }
    }
}

#webboard_img {
    img {
        width: 18.22%;
        margin: 0 .5rem;
    }
}

.input-hide {
    visibility: hidden;
    height: 0;
    padding: 0;
}

.label-file-img {
    background-color: $c-lightgold;
    padding: 6px 1rem 4px;
    border-radius: 6px;
    text-align: center;
    min-width: 150px;
    cursor: pointer;
}

.webboard-body {
    textarea {
        min-height: 150px;
    }
    .head-sect {
        .btn-create {
            a {
                padding: 1px 1rem 0;
            }
        }
    }
    .webboard-item {
        .col-lg-5 {
            padding-left: 0;
        }
        .forum-body {
            .row {
                border-bottom: 1px solid $c-darkgold;
                margin: 0;
                padding: 1rem 0;
            }
        }
    }
}

.ck-editor {
    .ck-content {
        min-height: 250px;
    }
}

.account-logged {
    .mobile-menu-right {
        .user-managed {
            padding-top: 1px;
            margin-right: 40px;
        }
        .user-login {
            padding-top: 0;
            img {
                width: 30px;
                height: 30px;
                border-radius: 50px;
                object-fit: cover;
            }
        }
    }
}

.btn-file {
    background-color: $c-darkgold;
    color: $c-white;
    border-radius: 6px;
    border: 1px solid $c-darkgold;
    cursor: pointer;
    &:hover {
        background-color: $c-lightgold;
        color: $c-black;
    }
}

.add-item {
    button {
        background-color: $c-darkgold;
        color: $c-white;
        border: 1px solid $c-darkgold;
        padding: 3px .5rem 0;
        font-size: .85rem;
        &:hover {
            color: $c-white;
            box-shadow: inset 0px 0px 1px 2px $c-lightgold;
            border: 1px solid $c-lightgold;
        }
    }
}

.box-noti {
    position: absolute;
    right: -10px;
    bottom: 5px;
    width: 16px;
    height: 16px;
    background: #ff0000;
    border-radius: 50px;
    color: $c-white;
    font-family: $ff-dbadmanBold;
    span {
        display: block;
        text-align: center;
        line-height: 18px;
        font-size: 15px;
    }
}

.noti-border {
    margin-top: 6px;
    border-top: 2px solid $c-gray;
}

.show-767 {
    display: none;
}

#btn-member-more,
#edit_ac_info {
    font-size: 1.15rem;
    padding: 4px 10px 0;
    width: 120px;
    height: 36px;
}

.status-dealer {
    span {
        position: relative;
        background-color: #fff;
        border-radius: 50px;
        font-size: 1rem;
        padding: 5px 30px 3px 10px;
        i {
            color: #04fc05;
            position: absolute;
            top: 50%;
            right: -1px;
            transform: translate(-50%, -50%);
        }
    }
}

.profile-form {
    .form-group {
        position: relative;
        .http-url {
            background-color: #28a745;
            color: #fff;
            position: absolute;
            left: .5rem;
            bottom: .5rem;
            padding: 0 .5rem;
            border-radius: 3px;
        }
    }
    nav {
        border-bottom: 5px solid $c-lightgold;
    }
    .nav-tabs {
        .nav-link {
            width: 50%;
            border: 1px solid #dee2e6;
            padding: 4px 0;
            border-radius: 0;
            color: $c-darkgold;
            font-size: 1.25rem;
        }
        .nav-link.active {
            border-color: #dee2e6;
            background-color: $c-darkgold;
            border: 1px solid $c-darkgold;
            color: $c-white;
        }
    }
}

.files-form,
.invoice-body {
    .col-icon {
        margin-bottom: 1rem;
        img {
            max-width: 80px;
        }
    }
    .col-img {
        border: 4px solid $c-darkgold;
        padding: 1.5rem;
        .col-md-4 {
            margin: 1rem auto;
            p {
                margin-bottom: 0;
                padding: 0 2.5rem;
            }
        }
        .col-md-3 {
            margin: 1rem auto;
            p {
                margin-bottom: 0;
                word-break: break-word;
            }
        }
    }
}

.user-login-name {
    position: relative;
    .fa-caret-down {
        position: absolute;
        right: -1.75rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

.clearfix {
    float: none;
}

.map-iframe {
    iframe {
        width: 100%;
    }
}