.account-menu {
    .navbar-nav {
        flex-direction: initial;
        .nav-link {
            font-family: $ff-semibold;
            text-transform: uppercase;
            margin-right: 1rem;
        }
    }
}