.account-menu {
    .navbar-nav {
        flex-direction: initial;
        .nav-link {
            font-family: $ff-semibold, $ff-dbadman;
            text-transform: uppercase;
            margin-right: 1rem;
            &.active {
                border-bottom: 2px solid $c-black;
                padding-bottom: 0;
            }
        }
    }
}

.account-body {
    .ac-album {
        overflow: hidden;
        padding-bottom: 2rem;
    }
    .album-item {
        margin: 0 -7px;
        .slider-nav-item {
            padding: .5rem;
            position: relative;
        }
    }
}

.album-item {
    .slick-current.slick-active {
        .slider-nav-item {
            img {
                box-shadow: 0px 6px 0px 0px #ffbc00;
            }
        }
    }
}

.ac-menu-left {
    background-color: $c-lightgold;
    .img_edit {
        position: absolute;
        bottom: 3rem;
        right: 2rem;
    }
    .ac-information {
        .ac-info-item {
            background-color: $c-yellowgold;
            margin: .5rem -1.5rem .5rem 0;
            border-radius: 50px 0 0 50px;
            padding: 5px 0 5px 4rem;
            position: relative;
            //height: 54px;
        }
        .ac-info-icon {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 54px;
            width: 54px;
            background-color: #ffffff;
            border-radius: 50px;
            i {
                font-size: 1.5rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $c-darkgold;
            }
        }
        input,
        select {
            padding: 0 .5rem;
            margin-top: -2px;
            font-size: .85rem;
        }
    }
    .ac-profile-img {
        padding: 0 1rem 1rem;
        margin-top: -8rem;
        img {
            border-radius: 50%;
            box-shadow: 0px 0px 0px 6px $c-lightgold;
        }
    }
}

.input-disabled {
    input,
    textarea {
        &:disabled {
            background-color: transparent;
            border: none;
            padding: 0 !important;
        }
    }
}

.ac-ul-menu {
    position: absolute;
    top: 3rem;
    right: 1rem;
    z-index: 99;
    min-width: 150px;
    background-color: $c-white;
    box-shadow: 0px 0px 10px 0px #c1c1c1;
    a {
        text-decoration: none;
        color: $c-black;
        &:hover {
            font-family: $ff-semibold, $ff-dbadman;
        }
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 1rem;
        width: 0;
        height: 0;
        border: 13px solid transparent;
        border-bottom-color: $c-white;
        border-top: 0;
        margin-left: -13px;
        margin-top: -13px;
    }
    ul {
        padding: 1rem;
        margin: 0;
        list-style: none;
        text-align: left;
        li {
            border-bottom: 1px solid $c-gray;
            padding-bottom: .5rem;
            &:not(:last-child) {
                margin-bottom: .5rem;
            }
        }
    }
}

.event-body {
    .slider-nav {
        .slick-slide {
            padding: 1rem;
        }
    }
    .event-info {
        padding: 1rem;
    }
    .event-item-box {
        .item-desc {
            height: 144px;
        }
    }
    .event-section {
        border-bottom: 1px solid $c-darkgold;
    }
}

.acform-body {
    .acform-item {
        background-color: $c-lightgray;
        padding: 1rem;
        border-radius: 6px;
        .ac-form-file {
            i {
                font-size: 6rem;
            }
        }
    }
    .acform-upload {
        background-color: $c-lightgray;
        padding: 1rem 2rem;
        border-radius: 6px;
        //min-height: 135px;
    }
}

.img_edit {
    background-image: url('../../images/img-edit.jpg');
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    &:hover {
        background-position: bottom;
    }
}

#pic_profile {
    width: 226px;
    height: 226px;
    object-fit: cover;
}

.ac-album-form {
    .fallback {
        border: 1px solid $c-gray;
        border-radius: 4px;
        padding: 1rem;
        margin-bottom: 15px;
        min-height: 150px;
        img {
            width: 14.95%;
            margin: .5rem;
        }
    }
}

.album-managed {
    margin: 0 -.5rem;
    .managed-item {
        position: relative;
        width: 12.47%;
        margin: .5rem;
        float: left;
        i {
            position: absolute;
            top: .5rem;
            right: .5rem;
            font-size: 1.25rem;
            background: #fff;
            color: #dc3545;
            padding: 4px;
            border-radius: 6px;
            cursor: pointer;
            &:hover {
                background: #dc3545;
                color: #fff;
            }
        }
    }
}

#webboard_img {
    img {
        width: 18.22%;
        margin: 0 .5rem;
    }
}

.input-hide {
    visibility: hidden;
    height: 0;
    padding: 0;
}

.label-file-img {
    background-color: $c-lightgold;
    padding: 6px 1rem 4px;
    border-radius: 6px;
    text-align: center;
    min-width: 150px;
    cursor: pointer;
}

.webboard-body {
    textarea {
        min-height: 150px;
    }
}

.ck-editor {
    .ck-content {
        min-height: 250px;
    }
}