@mixin media-max($length) {
    @media (max-width: $length) {
        @content;
    }
}

$ff-dbadmanBold: 'DBAdmanXBold';
$ff-dbadman: 'DBAdmanX';
$ff-reg: 'Montserrat-Regular';
$ff-medium: 'Montserrat-Medium';
$ff-semibold: 'Montserrat-SemiBold';
$ff-bold: 'Montserrat-Bold';
$c-gray: #c1c1c1;
$c-lightgray: #ebebeb;
$c-darkgold: #665f4f;
$c-lightgold: #cec6b2;
$c-black: #000000;
$c-white: #ffffff;
$c-yellowgold: #f6ecc9;
body {
    font-family: $ff-dbadman;
    font-size: 1.35rem;
}

img {
    width: 100%;
}

p {
    line-height: 1.5rem;
}

button {
    text-transform: uppercase;
    letter-spacing: 1px;
}

p,
input,
select,
textarea,
button,
a,
ul,
.btn {
    font-size: 1.35rem;
}

.ff-dbadman {
    font-family: $ff-dbadman;
}

.ff-dbadmanBold {
    font-family: $ff-dbadmanBold;
}

.ff-reg {
    font-family: $ff-reg, $ff-dbadman;
}

.ff-medium {
    font-family: $ff-medium;
}

.ff-semibold {
    font-family: $ff-semibold, $ff-dbadmanBold;
}

.ff-bold {
    font-family: $ff-bold, $ff-dbadmanBold;
}

.pt-2rem {
    padding-top: 2rem;
}

.ptb-2rem {
    padding: 2rem 0;
}

.ptb-1rem {
    padding: 1rem 0;
}

.plr-2rem {
    padding: 0 2rem;
}

.plr-4rem {
    padding: 0 4rem;
}

.mt-5rem {
    margin-top: 5rem;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-shadow {
    box-shadow: 0px 0px 4px 4px $c-gray;
}

.box-shadow-lightgold {
    &:hover {
        box-shadow: 0px 0px 10px 4px $c-lightgold;
    }
}

.shadow-darkgold {
    box-shadow: 0px 0px 10px 4px $c-darkgold;
}

.shadow-lightgold {
    transition: all .5s;
    border: 1px solid $c-lightgold;
    &:hover {
        transition: all .5s;
        box-shadow: 0px 0px 10px 4px $c-lightgold;
    }
}

.c-darkgold {
    color: $c-darkgold;
}

.c-lightgold {
    color: $c-lightgold;
}

.bg-darkgold {
    background-color: $c-darkgold;
}

.bg-lightgold {
    background-color: $c-lightgold;
}

.bg-gray {
    background-color: $c-gray;
}

.bg-lightgray {
    background-color: $c-lightgray;
}

.c-gray {
    color: $c-gray;
}

.c-lightgray {
    color: $c-lightgray;
}

.c-black {
    color: $c-black;
}

.c-white {
    color: $c-white;
}

.btn-black-border {
    border: 2px solid $c-black;
    padding: 0 10px;
    &:hover {
        background-color: $c-black;
        color: $c-white;
    }
}

.btn-black {
    border: 2px solid $c-black;
    padding: 0 10px;
    background-color: $c-black;
    color: $c-white;
    &:hover {
        border: 2px solid $c-white;
        background-color: $c-white;
        color: $c-black;
    }
}

.btn-white-border {
    border: 2px solid $c-white;
    padding: 0 10px;
    &:hover {
        background-color: $c-white;
        color: $c-black;
    }
}

.btn-tg-group {
    .btn {
        margin: 0 .5rem;
    }
}

.slick-dots-1 {
    .slick-dots {
        li {
            background-color: $c-white;
            border-radius: 50px;
            button:before {
                content: '';
            }
            &.slick-active {
                background-color: $c-darkgold;
            }
        }
    }
}

.slick-dots-2 {
    .slick-dots {
        li {
            background-color: $c-lightgold;
            border-radius: 50px;
            button:before {
                content: '';
            }
            &.slick-active {
                background-color: $c-darkgold;
            }
        }
    }
}

.btn-darkgold {
    background-color: $c-darkgold;
}

.cs-pointer {
    cursor: pointer;
}

.ul-clean {
    padding: 0;
    list-style: none;
}

.fs-7 {
    font-size: 0.8rem;
}

.fs-1rem {
    font-size: 1rem;
}

.fs-1-35rem {
    font-size: 1.35rem;
}

.fs-19px {
    font-size: 19px;
}

.border-b-darkgold {
    border-bottom: 1px solid $c-darkgold;
}

.border-darkgold {
    border: 1px solid $c-darkgold;
}

.border-lightgray {
    border: 1px solid $c-lightgray;
}

.a-hover-darkgold {
    color: $c-darkgold;
    text-decoration: none;
    &:hover {
        color: $c-darkgold;
        padding-bottom: 4px;
    }
}

.a-hover-white {
    &:hover {
        color: $c-white;
        box-shadow: 0px 0px 4px 2px $c-lightgold;
    }
}

button.bg-darkgold {
    &:hover,
    &:focus {
        color: $c-white;
        box-shadow: 0px 0px 4px 2px $c-lightgold;
    }
}

.btn-hover-black {
    &:hover {
        background-color: $c-black;
        color: $c-white;
    }
}

.form-control {
    font-size: 1.35rem;
}

.letter-spacing-1 {
    letter-spacing: 1px;
}

.text-line-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-line-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-line-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-line-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.btn-padding {
    padding: 0 1.5rem;
}

.line-h-34px {
    line-height: 34px;
}

.cursor-pointer {
    cursor: pointer;
}

.rotate-25ngt {
    transform: rotate(-25deg);
}

.list-decimal {
    list-style-type: decimal;
}

.hide-575 {
    display: block;
}

.show-575 {
    display: none;
}

.line-height-24px {
    line-height: 24px;
}

.line-height-22px {
    line-height: 22px;
}

.line-height-18px {
    line-height: 18px;
}

.line-height-16px {
    line-height: 16px;
}

.mt-minus-5px {
    margin-top: -5px;
}

.btn-padding {
    padding: 2px 1rem 0;
}