.category-home {
    .bg-title {
        background-image: url('../../images/home/bg-title.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .category-list {
        background-color: $c-lightgray;
        .cateory-item {
            padding: 0 .5rem;
            .box-shadow-lightgold {
                border: 1px solid $c-lightgold;
            }
        }
        .item-text {
            height: 60px;
            background-color: $c-white;
        }
    }
    .row {
        position: relative;
        .col-md-8 {
            div.fs-1 {
                line-height: 40px;
            }
        }
        .col-md-4 {
            iframe,
            .tradingview-widget-container {
                width: 100% !important;
            }
        }
    }
    #tradingview_5625e {
        height: 330px;
    }
    .tg-title {
        margin-top: 2rem;
    }
    div.ff-dbadmanBold {
        margin-top: 5rem;
        h4 {
            font-size: 2rem !important;
        }
    }
}

.price-update {
    .nav-pills {
        .nav-item {
            .nav-link.active {
                background: transparent;
                i {
                    color: $c-darkgold;
                }
            }
            .nav-link {
                color: $c-black;
                cursor: pointer;
                i {
                    color: $c-gray;
                }
                &:hover {
                    i {
                        color: $c-darkgold;
                    }
                }
            }
        }
    }
}

.table-price {
    table {
        border: 1px solid $c-black;
        tbody,
        td,
        tfoot,
        th,
        thead,
        tr {
            border-width: 1px;
        }
        tbody {
            tr td:first-child {
                background-color: $c-lightgold;
            }
            tr:nth-last-child(n+3) {
                td:nth-child(n+2):nth-last-child(n+3) {
                    background-color: $c-gray;
                }
            }
        }
    }
}

.event-home {
    .slick-1-item {
        background-color: $c-lightgold;
        .slick-dots {
            width: 50%;
            bottom: 1.5rem;
            right: 0;
            li {
                background-color: $c-white;
                border-radius: 50px;
                button:before {
                    content: '';
                }
                &.slick-active {
                    background-color: $c-darkgold;
                }
            }
        }
        .event-item {
            img {
                padding: 9px 0 0 9px;
            }
        }
    }
}

.news-home {
    .news-list {
        overflow: hidden;
        .col-md-5 {
            .slick-1-item {
                margin-bottom: 0;
                .slick-dots {
                    bottom: 2rem;
                    right: 1.5rem;
                    text-align: right;
                    li {
                        background-color: $c-white;
                        border-radius: 50px;
                        button:before {
                            content: '';
                        }
                        &.slick-active {
                            background-color: $c-darkgold;
                        }
                    }
                }
                .news-item {
                    img {
                        height: 715px;
                        object-fit: cover;
                        object-position: top center;
                    }
                    h2 {
                        line-height: 33px;
                    }
                }
            }
        }
        .col-md-7 {
            .col-md-6 {
                overflow: hidden;
            }
            .col-md-6 {
                margin-bottom: .75rem;
            }
            .col-md-12 {
                margin-top: .75rem;
            }
            .news-item {
                h2 {
                    line-height: 30px;
                }
            }
        }
        .news-item {
            position: relative;
            cursor: pointer;
            &::before {
                content: '';
                background-color: rgba($c-black, .6);
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 99;
            }
            .news-desc {
                bottom: 0;
                width: 100%;
                padding: 0 2rem 2rem;
                z-index: 999;
            }
            a.view-all {
                &:hover {
                    color: $c-white;
                    text-decoration: none;
                    box-shadow: 0px 6px 3px -3px $c-white;
                }
            }
            h2 {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }
}

.member-home {
    .member-list {
        .slick-slide.slick-current.slick-active .item {
            padding-left: 0;
            padding-right: .75rem;
        }
        .slick-slide.slick-active .item {
            padding-right: 0;
        }
        .item {
            padding: .75rem;
        }
        .sub-img {
            margin: .5rem -.20rem 0;
            .img-item {
                padding: 0 .25rem;
                width: 33.33%;
                float: left;
            }
        }
        .slick-dots {
            bottom: -3rem;
        }
        h2.ff-dbamanBold {
            font-weight: 600;
        }
    }
    .ac-album {
        overflow: hidden;
    }
    .shadow-lightgold {
        height: 270px;
    }
    .event-action {
        position: absolute;
        left: 50%;
        transform: translateX(-40%);
        width: 100%;
        bottom: 0;
    }
}

.singup-home {
    background-image: url('../../images/home/newsletter-bg.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 5rem 0;
    .col-md-6:first-child {
        padding-right: 0;
    }
    .col-md-6:last-child {
        padding-left: 0;
    }
    .singup-form {
        padding: 0 6.5rem;
        border-right: 2px solid $c-darkgold;
        input {
            background-color: transparent;
            border: 1px solid $c-black;
        }
    }
    .sign-member {
        padding: 0 6.5rem;
    }
    .head-sect {
        span,
        strong {
            font-size: 4rem;
            line-height: 4rem;
            letter-spacing: 1px;
        }
    }
}

.singup-popup {
    background-image: url('../../images/home/newsletter-bg.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 1.5rem 0;
    .col-md-6 {
        padding: 0 1.5rem;
        &:first-child {
            border-right: 2px solid $c-darkgold;
        }
    }
    .btn-register {
        border: 1px solid $c-darkgold;
        padding: 3px 1rem 0;
        &:hover {
            background-color: $c-darkgold;
            color: $c-white;
        }
    }
}

.signup-member {
    background-color: $c-white;
    box-shadow: 0px 0px 10px 1px $c-lightgold;
    .singup-form {
        padding: 0 10rem;
        input {
            background-color: transparent;
            border: 1px solid $c-black;
        }
    }
}

.map-home {
    iframe {
        width: 100%;
    }
}

.contact-home {
    background-image: url('../../images/home/contact-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .social-contact {
        a {
            display: block;
            text-decoration: none;
            color: $c-black;
            margin-bottom: .5rem;
            i {
                text-align: center;
                margin-right: .5rem;
                width: 20px;
            }
            &:hover {
                font-family: $ff-semibold;
            }
        }
    }
    .follow-us {
        strong,
        a {
            margin-right: 1rem;
            display: inline-block;
            color: $c-black;
            i {
                font-size: 1.5rem;
            }
            &:hover {
                color: $c-darkgold;
            }
        }
    }
    .contact-form {
        .form-group {
            margin-bottom: 1rem;
            input,
            textarea {
                background: transparent;
                border: 1px solid $c-black;
            }
        }
    }
}

.copy-right {
    background-color: $c-darkgold;
    color: $c-white;
    padding: 1rem 0 .8rem;
    a {
        color: $c-white;
        text-decoration: none;
        padding-left: 1rem;
    }
}

.modal {
    .modal-header {
        border: none;
    }
}

.input-nobg {
    .form-control {
        background: transparent;
        border: 1px solid $c-black;
    }
}

.errors {
    ul {
        margin-bottom: 0;
    }
}

.banner-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.about-content {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        background-color: $c-lightgray;
        width: 100%;
        height: 40%;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
}

.knowledge-content {
    .knowledge-hot {
        .row {
            margin: 0;
            .col-md-6 {
                padding: 0;
            }
        }
    }
}

.event-content,
.knowledge-content {
    .shadow-lightgold.h-100 {
        position: relative;
        .event-action {
            position: absolute;
            bottom: 1.25rem;
            left: 1.5rem;
        }
        div.p-4 {
            padding-bottom: 5rem !important;
        }
    }
}

.relate-list {
    .title {
        border-top: 1px solid $c-darkgold;
        margin-top: 1.5rem;
        padding-top: 1.5rem;
    }
}

.event-text {
    h2 {
        line-height: 33px;
        &:hover {
            box-shadow: 0px 1px 0px 0px $c-darkgold;
        }
        a {
            font-size: calc(1.325rem + .4vw);
        }
    }
}

.search-member {
    form {
        .w-50:nth-child(odd) {
            padding-right: 15px;
        }
        .w-50:nth-child(even) {
            padding-left: 15px;
        }
        .input-group {
            .input-group-text {
                height: 100%;
                border-radius: 0 .25rem .25rem 0;
                border: 1px solid $c-darkgold;
            }
        }
        select {
            padding: 6px .75rem;
            border-radius: .25rem;
            border: 1px solid #ced4da;
        }
        input {
            padding: 4px .75rem 0;
        }
        .col-md-6 {
            margin-bottom: 1rem;
        }
    }
    .btn.btn-search-member,
    .btn_advance {
        padding: 2px .75rem 0;
    }
}

.member-content {
    .shadow-lightgold {
        padding: 1rem;
    }
    .box-member {
        ul {
            list-style: none;
            padding: 0;
            li {
                width: 33.3333%;
                float: left;
                margin-top: .4rem;
            }
            li:nth-child(1) {
                padding-right: .3rem;
            }
            li:nth-child(2) {
                padding: 0 .15rem;
            }
            li:nth-child(3) {
                padding-left: .3rem;
            }
        }
    }
}

.contact-content {
    .map-location {
        iframe {
            width: 100%;
        }
    }
}

.forum-head {
    border-top: 1px solid $c-black;
    border-bottom: 1px solid $c-black;
    padding: 6px 0;
}

.gradient-gold-y {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(207, 199, 178, 1) 100%);
}

.share-social {
    cursor: pointer;
}

#shareModal {
    .modal-body {
        padding: 1rem 3rem 3rem;
    }
    .modal-content {
        background-color: $c-lightgold;
        border: none;
    }
}

.social-item {
    a {
        display: block;
        padding: 4px 15px;
        background: #fff;
        border-radius: 4px;
        border: none;
        text-decoration: none;
        width: 45%;
        float: left;
        margin: 10px 10px 0;
        i {
            width: 30px;
        }
        span {
            display: inline-block;
            text-align: center;
        }
    }
    a.share-fb {
        background-color: #4867aa;
        color: #fff;
    }
    a.share-tw {
        background-color: #1da1f2;
        color: #fff;
    }
    a.share-line {
        background-color: #07b53b;
        color: #fff;
    }
    a.share-gg {
        background-color: #d64937;
        color: #fff;
    }
    a.share-in {
        background-color: #0e76a8;
        color: #fff;
    }
    a.share-pt {
        background-color: #c8232c;
        color: #fff;
    }
    a.share-mail {
        background-color: #6e6e6e;
        color: #fff;
    }
}

#registerModal {
    .form-check-input[type=radio] {
        border-radius: 0;
        border-color: #000;
    }
    .form-check-input:checked[type=radio] {
        background-image: none;
    }
    .form-check-input:checked {
        background: $c-lightgold;
        box-shadow: inset 0px 0px 0px 2px #fff;
        border-color: #000;
    }
    .form-check {
        margin-right: 0;
        padding-left: 33px;
        label {
            line-height: 33px;
            font-size: 19px;
            a {
                font-size: 19px;
            }
        }
    }
    .modal-dialog {
        max-width: 800px;
        margin: auto;
        padding: 3rem;
        .modal-header {
            padding-top: 0;
        }
        .modal-content {
            background-image: url('../../images/home/newsletter-bg.jpg');
            background-repeat: no-repeat;
            background-position: top;
            background-size: cover;
            padding: 1.5rem 0;
            padding: 1rem;
            .register-desc {
                .col-md-6 {
                    &:first-child {
                        border-right: 2px solid $c-darkgold;
                    }
                }
                .btn-register {
                    border: 1px solid $c-darkgold;
                    padding: 2px 1rem 0;
                    &:hover {
                        background-color: $c-darkgold;
                        color: $c-white;
                    }
                }
            }
        }
    }
}

#termsModal {
    .modal-dialog {
        max-width: 800px;
    }
    .modal-body {
        height: 85vh;
        overflow-y: scroll;
    }
}

.price-update {
    .tradingview-widget-container {
        height: 400px !important;
        width: 100% !important;
    }
    iframe {
        height: 400px !important;
        width: 100% !important;
    }
}

.btn-search-webboard {
    cursor: pointer;
    &:hover {
        .bg-darkgold {
            background-color: $c-black;
        }
    }
}

.btn-news-group {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.share-post,
.event-action {
    i {
        font-size: 1rem;
    }
}

.community-content {
    .forum-body {
        .row {
            margin: 1rem -12px;
            padding-bottom: 1rem;
            border-bottom: 1px solid $c-black;
        }
    }
    .forum-head {
        strong {
            font-family: $ff-dbadmanBold;
            text-transform: uppercase;
        }
    }
    form {
        input {
            padding: 0 1rem;
        }
        a {
            padding: 0;
        }
    }
}

.forum-body {
    .row.desc-head {
        padding: 10px 0;
        border-bottom: 1px solid $c-black;
    }
    h2 {
        line-height: 1rem;
    }
    p {
        margin-top: 6px;
    }
    .forum-img {
        cursor: pointer;
        img {
            transition: all .15s;
            width: 85px;
            height: 85px;
            object-fit: cover;
        }
        &:hover {
            img {
                transition: all .15s;
                box-shadow: 0px 0px 6px 2px $c-darkgold;
            }
        }
    }
}

.forum-box {
    .forum-body {
        .gradient-gold-y {
            padding: 0 3rem;
        }
        .forum-profile {
            margin-top: 1.5rem;
        }
        .member-info {
            margin-top: 1rem;
            .info-item {
                display: inline-flex;
                width: 100%;
            }
            .info-item-block {
                margin-bottom: 10px;
            }
            span,
            strong {
                line-height: 24px;
            }
            span {
                margin-left: 10px;
            }
            strong {
                font-family: $ff-dbadmanBold;
            }
        }
    }
    .reply-forum {
        padding: 0 1.5rem;
    }
}

.community-desc {
    .member-info {
        .info-item {
            strong {
                font-family: $ff-dbadmanBold;
            }
        }
    }
    .reply-item {
        p {
            padding: .5rem 1rem;
        }
    }
}

.hide-1199,
.hide-991,
.hide-575 {
    display: block;
}

.show-575,
.show-991 {
    display: none;
}

.information-center {
    background-image: url('../../images/about-bg.jpg');
    background-repeat: repeat-y;
    table {
        width: 100%;
    }
    .advisory {
        .col-lg-3 {
            margin-top: 2rem;
            padding: 0 1.5rem;
        }
    }
}

.register-back {
    &:hover {
        text-decoration: underline;
    }
}

.text-nowrap {
    text-overflow: ellipsis;
}

.apply-member {
    [class*='col-'] {
        margin-bottom: 1rem;
    }
}

.cookie-policy {
    background-color: $c-darkgold;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 2rem 1.5rem;
    color: #fff;
    a {
        color: #fff;
    }
}