.category-home {
    .bg-title {
        background-image: url('../../images/home/bg-title.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .category-list {
        background-color: $c-lightgray;
        .cateory-item {
            padding: 0 .5rem;
        }
        .item-text {
            height: 100px;
            background-color: $c-white;
        }
        .slick-5-item {
            .slick-list {
                padding: .5rem 0;
            }
            .slick-dots {
                li {
                    background-color: $c-lightgold;
                    border-radius: 50px;
                    button:before {
                        content: '';
                    }
                    &.slick-active {
                        background-color: $c-darkgold;
                    }
                }
            }
        }
    }
    .col-md-4 {
        iframe,
        .tradingview-widget-container {
            width: 100% !important;
        }
    }
}

.price-update {
    .price-subject {
        strong {
            display: inline;
            margin-left: 2rem;
        }
    }
}

.table-price {
    table {
        border: 1px solid $c-black;
        tbody,
        td,
        tfoot,
        th,
        thead,
        tr {
            border-width: 1px;
        }
        tbody {
            tr td:first-child {
                background-color: $c-lightgold;
            }
            tr:nth-last-child(n+3) {
                td:nth-child(n+2):nth-last-child(n+3) {
                    background-color: $c-gray;
                }
            }
        }
    }
}

.event-home {
    .slick-1-item {
        background-color: $c-lightgold;
        .slick-dots {
            width: 50%;
            bottom: 5rem;
            right: 0;
            li {
                background-color: $c-white;
                border-radius: 50px;
                button:before {
                    content: '';
                }
                &.slick-active {
                    background-color: $c-darkgold;
                }
            }
        }
    }
}

.news-home {
    .news-list {
        overflow: hidden;
        height: 600px;
        .col-md-5 {
            .slick-1-item {
                .slick-dots {
                    bottom: 2rem;
                    li {
                        background-color: $c-white;
                        border-radius: 50px;
                        button:before {
                            content: '';
                        }
                        &.slick-active {
                            background-color: $c-darkgold;
                        }
                    }
                }
            }
        }
        .col-md-7 {
            .col-md-6 {
                overflow: hidden;
                height: 300px;
            }
            .col-md-6 {
                margin-bottom: .75rem;
            }
            .col-md-12 {
                margin-top: .75rem;
            }
        }
        .news-item {
            position: relative;
            cursor: pointer;
            &::before {
                content: '';
                background-color: rgba($c-black, .6);
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 99;
            }
            .news-desc {
                bottom: 0;
                width: 100%;
                padding: 0 3rem 6rem;
                z-index: 999;
            }
            a.view-all {
                &:hover {
                    color: $c-white;
                    text-decoration: none;
                    box-shadow: 0px 6px 3px -3px $c-white;
                }
            }
        }
    }
}

.member-home {
    .member-list {
        .slick-list.draggable {
            margin: 0 -1rem;
        }
        .member-item {
            padding: .5rem 1rem;
        }
        .sub-img {
            margin: .5rem -.20rem 0;
            .img-item {
                padding: 0 .25rem;
                width: 33.33%;
                float: left;
            }
        }
        .slick-dots {
            bottom: -3rem;
        }
    }
    .ac-album {
        overflow: hidden;
    }
}

.singup-home {
    background-color: #d6d6d6;
    .singup-form {
        padding: 0 10rem;
        input {
            background-color: transparent;
            border: 1px solid $c-black;
        }
    }
}

.signup-member {
    background-color: $c-white;
    box-shadow: 0px 0px 10px 1px $c-lightgold;
    .singup-form {
        padding: 0 10rem;
        input {
            background-color: transparent;
            border: 1px solid $c-black;
        }
    }
}

.map-home {
    iframe {
        width: 100%;
    }
}

.contact-home {
    background-image: url('../../images/home/contact-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .social-contact {
        a {
            display: block;
            text-decoration: none;
            color: $c-black;
            margin-bottom: .5rem;
            i {
                text-align: center;
                margin-right: .5rem;
                width: 20px;
            }
            &:hover {
                font-family: $ff-semibold;
            }
        }
    }
    .follow-us {
        strong,
        a {
            margin-right: 1rem;
            display: inline-block;
            color: $c-black;
            i {
                font-size: 1.5rem;
            }
            &:hover {
                color: $c-darkgold;
            }
        }
    }
    .contact-form {
        .form-group {
            margin-bottom: 1rem;
            input {
                background: transparent;
                border: 1px solid $c-black;
            }
        }
    }
}

.copy-right {
    background-color: $c-darkgold;
    color: $c-white;
    padding: 1rem 0 .8rem;
    a {
        color: $c-white;
        text-decoration: none;
        padding-left: 1rem;
    }
}

.modal {
    .modal-header {
        border: none;
    }
}

.input-nobg {
    .form-control {
        background: transparent;
        border: 1px solid $c-black;
    }
}

.errors {
    ul {
        margin-bottom: 0;
    }
}

.banner-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.about-content {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        background-color: $c-lightgray;
        width: 100%;
        height: 40%;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
}

.knowledge-content {
    .knowledge-hot {
        .row {
            margin: 0;
            .col-md-6 {
                padding: 0;
            }
        }
    }
}

.search-member {
    form {
        .w-50:nth-child(odd) {
            padding-right: 15px;
        }
        .w-50:nth-child(even) {
            padding-left: 15px;
        }
        .input-group {
            .input-group-text {
                height: 100%;
                border-radius: 0 .25rem .25rem 0;
                border: 1px solid $c-darkgold;
            }
        }
        select {
            padding: .375rem .75rem;
            border-radius: .25rem;
            border: 1px solid #ced4da;
        }
        .col-md-6 {
            margin-bottom: 1rem;
        }
    }
}

.member-content {
    .shadow-lightgold {
        padding: 1rem;
    }
    .ac-album {
        overflow: hidden;
    }
    .album-item {
        margin: 0 -4px;
        .slider-nav-item {
            padding: 0 .25rem;
        }
    }
}

.contact-content {
    .map-location {
        iframe {
            width: 100%;
        }
    }
}

.forum-head {
    border-top: 1px solid $c-black;
    border-bottom: 1px solid $c-black;
    padding: 6px 0;
}

.forum-body {
    .row {
        padding: 10px 0;
        border-bottom: 1px solid $c-black;
    }
    h2 {
        line-height: 1rem;
    }
    p {
        line-height: 1.2rem;
        font-size: .85rem;
        margin-top: 6px;
    }
    .forum-img {
        cursor: pointer;
    }
}

.forum-box {
    .forum-body {
        .gradient-gold-y {
            padding: 0 3rem;
        }
        .forum-profile {
            margin-top: 1.5rem;
        }
        .member-info {
            margin-top: 1rem;
            strong {
                margin-right: 15px;
            }
            .info-item {
                display: inline-flex;
                width: 100%;
            }
        }
    }
    .reply-forum {
        padding: 0 1.5rem;
    }
}

.gradient-gold-y {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(207, 199, 178, 1) 100%);
}

.share-social {
    cursor: pointer;
}

#shareModal {
    .modal-body {
        padding: 1rem 3rem 3rem;
    }
    .modal-content {
        background-color: $c-lightgold;
        border: none;
    }
}

.social-item {
    a {
        display: block;
        padding: 4px 15px;
        background: #fff;
        border-radius: 4px;
        border: none;
        text-decoration: none;
        width: 45%;
        float: left;
        margin: 10px 10px 0;
        i {
            width: 30px;
        }
        span {
            display: inline-block;
            text-align: center;
        }
    }
    a.share-fb {
        background-color: #4867aa;
        color: #fff;
    }
    a.share-tw {
        background-color: #1da1f2;
        color: #fff;
    }
    a.share-line {
        background-color: #07b53b;
        color: #fff;
    }
    a.share-gg {
        background-color: #d64937;
        color: #fff;
    }
    a.share-in {
        background-color: #0e76a8;
        color: #fff;
    }
    a.share-pt {
        background-color: #c8232c;
        color: #fff;
    }
    a.share-mail {
        background-color: #6e6e6e;
        color: #fff;
    }
}

#registerModal {
    .form-check-input[type=radio] {
        border-radius: 0;
        border-color: #000;
    }
    .form-check-input:checked[type=radio] {
        background-image: none;
    }
    .form-check-input:checked {
        background: $c-lightgold;
        box-shadow: inset 0px 0px 0px 2px #fff;
        border-color: #000;
    }
    .form-check {
        margin-right: 0;
    }
}

#termsModal {
    .modal-dialog {
        max-width: 800px;
    }
    .modal-body {
        height: 85vh;
        overflow-y: scroll;
    }
}

.price-update {
    .tradingview-widget-container {
        height: 400px !important;
        width: 100% !important;
    }
    iframe {
        height: 400px !important;
        width: 100% !important;
    }
}

.btn-search-webboard {
    cursor: pointer;
    &:hover {
        .bg-darkgold {
            background-color: $c-black;
        }
    }
}