.navbar {
    border-top: 2px solid $c-gray;
    border-bottom: 2px solid $c-gray;
    padding: 5px 0 2px;
}

.navbar-light.fixed-top {
    background-color: $c-white;
}

#topMenu {
    font-family: $ff-bold, $ff-dbadmanBold;
    justify-content: center;
    .nav-link {
        padding: .5rem 1.25rem;
        text-transform: uppercase;
        font-size: 1rem;
    }
    .dropdown-item {
        font-family: $ff-dbadman;
        padding: 0 1.25rem;
        text-transform: uppercase;
        font-size: 19px;
        letter-spacing: 1px;
    }
}

.top-nav {
    padding: 1rem 0;
    .logo-top {
        img {
            max-width: 400px;
        }
        .logo-tgjta {
            width: 75px;
            margin-right: 2rem;
        }
    }
    a,
    span {
        text-decoration: none;
        color: $c-black;
        font-size: 17px;
        padding: 0 6px;
        &:hover {
            box-shadow: 1px 1px 1px 0px $c-darkgold;
        }
        i {
            font-size: 14px;
        }
    }
    span {
        font-size: 17px;
    }
}

.top-more-menu {
    .user-menu-login {
        position: absolute;
        top: 2rem;
        right: 0;
        z-index: 99999;
        width: 220px;
        background-color: $c-white;
        box-shadow: 0px 0px 10px 0px #c1c1c1;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 1rem;
            width: 0;
            height: 0;
            border: 13px solid transparent;
            border-bottom-color: $c-white;
            border-top: 0;
            margin-left: -13px;
            margin-top: -13px;
        }
        ul {
            padding: 1rem;
            margin: 0;
            list-style: none;
            text-align: left;
        }
    }
}

.to-top {
    position: fixed;
    z-index: 9999;
    bottom: 2.5rem;
    right: 4rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: $c-darkgold;
    background-color: $c-lightgold;
    border: 1px solid $c-darkgold;
    height: 50px;
    width: 50px;
    border-radius: 6px;
    transition: all .25s;
    &:hover {
        transition: all .25s;
        box-shadow: 0px 0px 10px 1px $c-darkgold;
    }
    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    div.position-relative {
        width: 100%;
        height: 100%;
    }
}

.logo-top.navbar-brand,
.mobile-menu-right {
    display: none;
}