$ff-dbadmanBold: 'DBAdmanXBold';
$ff-dbadman: 'DBAdmanX';
@include media-max(1399px) {
    .ac-menu-left .ac-profile-img img {
        width: 184px !important;
        height: 184px !important;
    }
}

@include media-max(1199px) {
    .ac-menu-left {
        .ac-profile-img {
            margin-top: -5rem;
            img {
                width: 135px !important;
                height: 135px !important;
            }
        }
        .personal-info #pic_profile {
            width: 100px;
            height: 100px;
        }
    }
    .account-menu .navbar-nav .nav-link {
        font-size: .8rem;
    }
    .files-form {
        .col-img .col-md-4 p {
            padding: 0 1.5rem;
        }
    }
}

@include media-max(991px) {
    .account-logged {
        .account-menu {
            .navbar-nav {
                display: inline-block;
                .nav-link {
                    margin-right: 0;
                }
                li {
                    float: left;
                    padding: 0 .5rem;
                    // &:first-child {
                    //     padding-left: 0;
                    // }
                }
            }
        }
    }
    .ac-menu-left {
        .personal-info #pic_profile {
            width: 75px;
            height: 75px;
        }
    }
    .files-form,
    .invoice-body {
        .col-img .col-md-4 p {
            padding: 0 .5rem;
        }
        .content-title.mt-5 {
            margin-top: 1rem !important;
        }
    }
}

@include media-max(767px) {
    .webboard-item {
        .action-group {
            a {
                margin: auto !important;
                width: 100%;
                display: block;
                .far.fa-edit {
                    padding-left: 4px;
                }
            }
        }
    }
    .account-logged .account-menu {
        margin-left: -7px;
        .ac-ul-menu ul li:last-child {
            margin-bottom: 1.5rem;
        }
    }
    .hide-767 {
        display: none;
    }
    .show-767 {
        display: block;
    }
    .ac-btn-action {
        .show-767 {
            display: initial;
        }
    }
    .banner {
        img {
            height: 120px;
            object-fit: cover;
        }
        h2 {
            font-size: 1.5rem;
        }
    }
    .account-body {
        .col-xl-3.col-lg-4 {
            padding: 0;
            width: 100%;
        }
        .col-xl-9.col-lg-8 {
            width: 100%;
        }
    }
    .ac-menu-left {
        padding-bottom: .5rem !important;
        .ac-profile-img {
            padding: 1.5rem;
            margin-top: -4rem;
            width: 35%;
            float: left;
            img {
                width: 100px !important;
                height: 100px !important;
            }
        }
        .ac-personal {
            width: 65%;
            float: left;
            padding: 1rem 1.5rem 0;
            span:first-child {
                font-family: $ff-dbadmanBold;
                font-size: 1.5rem;
            }
        }
        .ac-information {
            background-color: #f6ecc9;
            width: 100%;
            float: left;
            padding: 1.5rem;
            &::after {
                display: block;
                content: "";
                clear: both;
                float: none;
            }
            .ac-info-item {
                margin: .5rem 0;
            }
            .ac-info-icon {
                top: 4px;
                height: 45px;
                width: 45px;
            }
        }
        .img_edit {
            background-size: cover;
            width: 34px;
            height: 34px;
            right: 0rem;
        }
    }
    .account-logged .account-menu .navbar-nav {
        display: block;
    }
    .account-body {
        .account-menu {
            .navbar-nav {
                font-size: .8rem;
                .nav-link {
                    display: inline-block;
                    padding: .25rem 0 0;
                    margin-bottom: .25rem;
                    &.active {
                        border: none;
                        box-shadow: 0px 2px 0px 0px #cec6b2;
                    }
                }
            }
        }
        .ac-about.mt-5 {
            margin-top: 1.5rem !important;
        }
    }
}

@include media-max(575px) {
    .ac-menu-left .ac-profile-img {
        margin-top: -4rem;
        img {
            width: 100px !important;
            height: 100px !important;
        }
    }
    .dealer-head {
        .dealer-id {
            font-size: 1rem;
            padding-top: 6px;
        }
    }
    .files-form .col-img {
        padding: .5rem;
    }
    .webboard-body {
        .webboard-item {
            .col-12 {
                padding: 0;
            }
            .forum-body .row.wbd-action {
                border: none;
                padding-bottom: 0;
            }
        }
    }
}