@import 'ckediter';
.login-page {
    background-color: #656565;
    .col-4 {
        height: 100vh;
        position: relative;
        .position-absolute {
            background-color: #ffca6b;
            width: 100%;
            padding: 2rem;
            box-shadow: 4px 4px 4px #464138;
        }
    }
}

.content-header {
    padding: 3rem 3rem 0;
    .container-fluid {
        padding-bottom: 1rem;
    }
}

.btn-action-group {
    border-top: 1px solid #ced4da;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    .btn {
        width: 150px;
        margin: .5rem;
    }
}

.errors {
    ul {
        margin-bottom: 0;
    }
}

.border-bottom {
    border-bottom: 1px solid #ced4da;
}

.btn-status {
    width: 60px;
    padding: 0;
}

body:not(.layout-fixed) .main-sidebar {
    position: fixed;
}

.tab-content {
    background-color: #fff;
    padding: 2rem;
}

.content-nav {
    position: relative;
}

.btn-action-fixed {
    position: absolute;
    z-index: 999;
    top: -0.5rem;
    right: 0;
}

.img-thumbnail {
    width: 300px;
    img {
        width: 100%;
    }
}

.input-img-hide {
    visibility: hidden;
    height: 0px;
    padding: 0;
}

.label-img {
    width: 100%;
    text-align: center;
    padding: 6px;
    margin-bottom: 0;
    cursor: pointer;
}

.nav-fixed {
    position: fixed;
    z-index: 999;
    width: 100%;
    background: #343a40;
    padding: 1rem 4rem;
    top: 0;
    text-align: right !important;
}

.bootstrap-tagsinput {
    display: block;
    .label-info {
        background-color: #0062cc;
        border-radius: 4px;
        padding: 0 6px;
    }
}

.p2rem {
    padding: 2rem;
}

.pagination-list {
    border-top: 1px solid #000;
    padding-top: .5rem;
    a {
        color: #000000;
    }
    li {
        margin: 0 5px;
        padding: 0 .5rem;
        border: 1px solid #000;
        &.active {
            background: #000;
            a {
                color: #fff;
            }
        }
    }
}

.form-switch {
    padding: 0;
    input.form-check-input {
        margin-left: 0;
    }
    label.form-check-label {
        padding-left: 2.5rem;
    }
}

.content-banner {
    .col-md-4,
    .col-md-6 {
        margin-bottom: 1.5rem;
    }
    .img-banner {
        border-radius: 6px;
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
        }
    }
    .label-img {
        border-radius: 6px;
    }
    .btn-action-fixed {
        top: -3.5rem;
    }
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-files {
    .files-item {
        .form-file i {
            font-size: 5rem;
        }
    }
}

.ck-editor {
    .ck-content {
        height: 70vh;
    }
}

.navigation-center {
    border-top: 1px solid #665f4f;
    padding-top: 1rem;
    .pagination {
        justify-content: center;
        li {
            line-height: 30px;
            a {
                display: inline-block;
                height: 30px;
                text-align: center;
                border: 1px solid #665f4f;
                border-radius: 5px;
                margin: 0 3px;
                padding: 0 1rem;
                text-decoration: none;
                color: #665f4f;
            }
            &.active {
                a {
                    background-color: #665f4f;
                    color: #fff;
                }
            }
            &:hover {
                a {
                    background-color: #665f4f;
                    color: #fff;
                }
            }
        }
    }
}

.rounded-circle {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.top-neg2rem {
    top: -2rem;
}

.fs-7 {
    font-size: .9rem;
}

table {
    .btn-warning,
    .btn-success,
    .btn-danger {
        padding: 0 .5rem;
        font-size: .9rem;
    }
    .fa-times-circle {
        text-shadow: 0px 0px 2px #000;
    }
}

.member-content {
    .btn-setting {
        position: absolute;
        padding-left: 0;
        padding-right: 0;
        &:hover {
            color: #665f4f;
            border-bottom: 1px solid #665f4f;
            border-radius: 0;
        }
    }
    table {
        td {
            a {
                display: block;
            }
        }
    }
}

.member-files {
    .acform-item {
        background-color: #ebebeb;
        padding: 1rem;
        border-radius: 6px;
        .ac-form-file {
            i {
                font-size: 4.5rem;
            }
        }
    }
    .acform-upload {
        background-color: #ebebeb;
        padding: 1rem 2rem;
        border-radius: 6px;
        i {
            display: none;
        }
    }
}

.btn-download {
    border: 1px solid #000;
    padding: 2px 10px 4px;
    &:hover {
        background-color: #000;
        color: #fff;
    }
}

.input-hide {
    visibility: hidden;
    height: 0;
    padding: 0;
}

.label-file-img {
    background-color: #cec6b2;
    padding: 6px 1rem;
    border-radius: 6px;
    text-align: center;
    min-width: 150px;
    cursor: pointer;
}

.album-managed {
    margin: 0 -.5rem;
    padding-bottom: 1rem;
    .managed-item {
        position: relative;
        width: 15.33%;
        margin: .5rem;
        float: left;
        i {
            position: absolute;
            top: .5rem;
            right: .5rem;
            font-size: 1.25rem;
            background: #fff;
            color: #dc3545;
            padding: 4px;
            border-radius: 6px;
            cursor: pointer;
            &:hover {
                background: #dc3545;
                color: #fff;
            }
        }
        img {
            width: 100%;
        }
    }
}

.add-item {
    button {
        background-color: #665f4f;
        color: #fff;
        border: 1px solid #665f4f;
        padding: 3px .5rem 0;
        font-size: .85rem;
        &:hover {
            color: #fff;
            box-shadow: inset 0px 0px 1px 2px #cec6b2;
            border: 1px solid #cec6b2;
        }
    }
}

.onoffswitch {
    position: relative;
    width: 55px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 20px;
    padding: 0;
    line-height: 20px;
    border: 0px solid #FFFFFF;
    border-radius: 30px;
    background-color: #9E9E9E;
}

.onoffswitch-label:before {
    content: "";
    display: block;
    width: 30px;
    margin: -5px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 31px;
    border-radius: 30px;
    box-shadow: 0 6px 12px 0px #757575;
}

.onoffswitch-checkbox:checked+.onoffswitch-label {
    background-color: #75b798;
}

.onoffswitch-checkbox:checked+.onoffswitch-label,
.onoffswitch-checkbox:checked+.onoffswitch-label:before {
    border-color: #75b798;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label:before {
    right: 0px;
    background-color: #198754;
    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}

.subject-setting {
    border: 0;
    border-bottom: 1px solid #000;
    background: transparent;
    &:focus {
        box-shadow: none;
        outline: none;
    }
}

.subject-update {
    border: 1px solid #000;
    border-radius: 4px;
    padding: 0 6px 2px;
    cursor: pointer;
    display: block;
    width: 125px;
    text-align: center;
    margin-top: 10px;
    color: #000;
    &:hover {
        background-color: #000;
        color: #fff;
    }
}

.member-desc {
    .add-cate {
        .fa-times {
            position: absolute;
            right: 0;
            padding: .7rem;
            cursor: pointer;
        }
    }
    .list-item {
        .fa-times {
            cursor: pointer;
        }
    }
}

.content-webboard {
    .wb_reply {
        .card {
            padding: .5rem 1.5rem;
        }
        .card-manage {
            .btn {
                font-size: 14px;
                padding: 2px .5rem 0;
            }
        }
    }
}

#accountEdit {
    cursor: pointer;
    &:hover {
        color: #ffc107;
    }
}

#updateAccountModal {
    #ckd_account {
        cursor: pointer;
    }
}

@media (max-width: 1399px) {
    .content-wrapper {
        .content-header {
            padding: 3rem 1.5rem 0;
        }
        .content {
            padding: 1.5rem !important;
        }
    }
}