.login-page {
    background-color: #656565;
    .col-4 {
        height: 100vh;
        position: relative;
        .position-absolute {
            background-color: #ffca6b;
            width: 100%;
            padding: 2rem;
            box-shadow: 4px 4px 4px #464138;
        }
    }
}

.content-header {
    padding: 3rem 3rem 0;
    .container-fluid {
        padding-bottom: 1rem;
    }
}

.btn-action-group {
    border-top: 1px solid #ced4da;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    .btn {
        width: 150px;
        margin: .5rem;
    }
}

.errors {
    ul {
        margin-bottom: 0;
    }
}

.border-bottom {
    border-bottom: 1px solid #ced4da;
}

.btn-status {
    width: 60px;
    padding: 0;
}

body:not(.layout-fixed) .main-sidebar {
    position: fixed;
}

.tab-content {
    background-color: #fff;
    .tab-pane {
        padding: 2rem;
    }
}

.content-nav {
    position: relative;
}

.btn-action-fixed {
    position: absolute;
    top: -10px;
    right: 0;
}

.img-thumbnail {
    width: 300px;
    img {
        width: 100%;
    }
}

.input-img-hide {
    visibility: hidden;
    height: 0px;
}

.label-img {
    width: 100%;
    text-align: center;
    padding: 6px;
    margin-bottom: 0;
    cursor: pointer;
}