@mixin media-max($length) {
    @media (max-width: $length) {
        @content;
    }
}

@import 'response-account';
@include media-max(1366px) {
    .ac-menu-left .ac-profile-img img {
        width: 184px !important;
        height: 184px !important;
    }
    .fs-1 {
        font-size: 2rem !important;
    }
    .news-home .news-list {
        height: auto;
    }
    .news-home .news-list {
        .news-item .news-desc {
            padding: 0 1.5rem 1.5rem;
        }
        .col-md-7 .col-md-6 {
            position: relative;
            height: 202px;
            .news-item {
                height: 100%;
                .news-desc {
                    width: 100%;
                }
            }
        }
        .col-md-5 .slick-1-item .slick-dots {
            width: auto;
            bottom: 2rem;
            right: 2rem;
        }
    }
}

//end medi 1366
@include media-max(1199px) {
    .member-list.slick-2-item {
        margin-top: 0 !important;
    }
    .account-body {
        .col-md-3 {
            width: 33%;
        }
        .col-md-9 {
            width: 67%;
        }
    }
    .ac-menu-left {
        .ac-profile-img {
            margin-top: -5rem;
            img {
                width: 135px !important;
                height: 135px !important;
            }
        }
    }
    #topMenu .nav-link {
        font-size: 0.9rem;
        padding: .5rem .75rem;
    }
    .event-home {
        .slick-1-item {
            margin-top: .5rem !important;
            .slick-dots {
                bottom: 2rem;
            }
        }
    }
    .news-home .news-list {
        margin-top: .5rem !important;
        .col-md-7 .col-md-6 {
            height: 164px;
            .news-desc p {
                display: none;
            }
        }
        .col-md-5 {
            .news-slide {
                margin-bottom: 0;
            }
        }
        .news-item .news-desc {
            padding: 0 1rem 1rem;
        }
    }
    .signup-member .singup-form,
    .singup-home .singup-form {
        padding: 0 5rem;
    }
    .navbar-toggler {
        outline: none;
        &:focus {
            box-shadow: none;
        }
    }
    .navbar-brand {
        .logo-tgjta {
            max-width: 26px;
            margin-top: -2px;
            margin-right: 12px;
        }
        .mobile-logo {
            max-width: 100px;
        }
    }
    .navbar {
        border-top: none;
        .container {
            max-width: 100%;
            padding: 0 30px;
        }
    }
    .navbar-light .navbar-toggler {
        border-color: transparent;
        padding: 0;
    }
    .mobile-menu-right {
        .user-login {
            padding-top: 10px;
            i {
                margin-right: 6px;
                font-size: 1.25rem;
            }
            .user-menu-login {
                position: absolute;
                background: #fff;
                width: 200px;
                right: 0;
                top: 2.85rem;
                border-radius: 6px;
                box-shadow: 0px 0px 8px 2px #cec6b2;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 1rem;
                    width: 0;
                    height: 0;
                    border: 13px solid transparent;
                    border-bottom-color: #ffffff;
                    border-top: 0;
                    margin-left: -13px;
                    margin-top: -13px;
                }
                ul {
                    list-style: none;
                    padding: 1rem 1.5rem;
                    margin: 0;
                    a {
                        text-decoration: none;
                        color: #665f4f;
                        font-size: .9rem;
                    }
                }
            }
        }
    }
    .event-home {
        .slick-1-item {
            .slick-dots {
                bottom: -2rem;
                width: 100%;
                li {
                    background: #cec6b2;
                }
            }
        }
    }
}

//end medi 1199
@include media-max(991px) {
    .view-all,
    .view-all a {
        font-size: 1.15rem;
    }
    .mobile-menu-right .user-managed {
        padding-top: 5px;
        margin-right: 1rem;
        a {
            text-decoration: none;
            color: #665f4f;
        }
        i {
            font-size: 1rem;
        }
    }
    .fixed-scroll {
        top: 1rem;
    }
    .top-nav {
        display: none;
    }
    .logo-top.navbar-brand,
    .mobile-menu-right {
        display: flex;
    }
    #topMenu .nav-link {
        padding: .5rem 0rem;
    }
    .btn-black-border {
        font-size: 1.15rem;
    }
    .navbar-collapse {
        margin: 2rem 0 1rem;
        text-align: right;
        border-top: 1px solid;
        .dropdown-toggle::after {
            margin-right: -.85rem;
        }
        .dropdown-menu {
            text-align: right;
        }
    }
    .ptb-2rem {
        padding: 2rem 0 0;
    }
    .slick-dots li {
        width: 15px;
        height: 15px;
    }
    .news-home .news-list {
        margin: 0 -0.35rem;
    }
    .news-home .news-list {
        .col-md-7 {
            .col-md-6 {
                height: 174px;
                margin-bottom: .35rem;
                padding: 0 .35rem;
            }
            .col-md-12 {
                margin-top: .35rem;
                padding: 0 .35rem;
                .news-item {
                    height: 137px;
                    overflow: hidden;
                    p {
                        font-size: .9rem;
                    }
                }
            }
            .btn,
            a {
                font-size: .7rem;
                padding: 4px 6px;
            }
        }
        .col-md-5 {
            padding: 0 .35rem;
            .slick-1-item .slick-dots {
                bottom: 1rem;
                right: 1rem;
            }
            .btn-news-group {
                a {
                    font-size: .9rem;
                    padding: 4px 6px 2px;
                }
            }
            .news-item .news-desc {
                padding: 0 1rem 3rem;
            }
        }
        .news-item .news-desc {
            padding: 0 1rem 1rem;
        }
        .btn-news-group {
            display: flex;
        }
    }
    .tg-title {
        h3 {
            font-size: 1.35rem !important;
        }
    }
    .member-home {
        padding-bottom: 1rem !important;
        .member-item {
            .absolute-center {
                padding-right: 0 !important;
                p {
                    font-size: 1.15rem;
                    line-height: 1.25rem;
                }
                .btn-tg-group {
                    margin-top: 0 !important;
                    a {
                        font-size: 1rem;
                    }
                }
            }
        }
        .member-list .slick-dots {
            bottom: -2rem;
        }
    }
    .btn-black-border {
        border: 1px solid #000;
    }
    .signup-member .singup-form,
    .singup-home .singup-form {
        padding: 0 2rem;
    }
    .event-home {
        .slick-1-item.mt-4 {
            margin-top: .5rem !important;
        }
    }
    .news-home {
        .news-list.mt-4 {
            margin-top: .5rem !important;
        }
    }
    .member-home {
        .member-list.mt-3 {
            margin-top: .5rem !important;
        }
    }
    .signup-member,
    .singup-home,
    .contact-home {
        padding-bottom: 2rem !important;
    }
    .map-home iframe {
        height: 300px;
    }
    .to-top {
        right: 1rem;
    }
    .member-home .member-list .slick-list.draggable {
        margin: 0;
    }
    .member-content {
        margin-bottom: 2rem;
    }
}

//end medi 991
@include media-max(767px) {
    .scroll-down {
        top: .75rem;
    }
    .scroll-up {
        top: 0;
    }
    .col-order-1 {
        order: 1;
    }
    .col-order-2 {
        order: 2;
    }
    .tg-title h3 {
        font-size: 1.15rem !important;
    }
    .category-home {
        .row {
            position: relative;
            .col-md-8 {
                p {
                    position: absolute;
                    top: 0;
                }
                .tg-title.mt-5rem {
                    margin-top: 4rem;
                    margin-bottom: 1rem;
                }
            }
            .col-md-4 {
                padding-top: 6rem;
            }
        }
    }
    .category-list {
        padding-top: 1rem !important;
    }
    .price-update .price-subject strong {
        margin-left: 1rem;
        font-size: .85rem;
    }
    .event-home {
        .event-item {
            .absolute-center {
                position: static;
                transform: none;
                width: 100% !important;
                padding: 2rem;
                .btn-tg-group {
                    display: block !important;
                }
            }
        }
    }
    .news-home .news-list {
        .col-md-7 {
            .col-md-6,
            .col-md-12 .news-item {
                height: auto;
            }
        }
    }
    .signup-member {
        .absolute-center {
            position: static;
            transform: none;
        }
    }
    .singup-home {
        .absolute-center {
            position: static;
            transform: none;
        }
    }
    .contact-home {
        .contact-info {
            margin-bottom: 3rem;
        }
    }
    .copy-right {
        font-size: .85rem;
    }
}

//end medi 767
@include media-max(576px) {
    .member-content {
        padding-top: 1rem;
        .item-body {
            padding: 0 1.5rem 0 1rem;
            h5 {
                font-size: 1rem;
            }
            p {
                line-height: 1.25rem;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                /* number of lines to show */
                -webkit-box-orient: vertical;
            }
        }
    }
    .to-top {
        height: 40px;
        width: 40px;
        bottom: 4rem;
        right: 0.75rem;
    }
}

//end medi 576
@include media-max(360px) {
    .navbar-brand .mobile-logo {
        max-width: 75px;
    }
}

//end medi 360