@media (max-width: 1399px) {
  .ac-menu-left .ac-profile-img img {
    width: 184px !important;
    height: 184px !important; } }
@media (max-width: 1199px) {
  .ac-menu-left .ac-profile-img {
    margin-top: -5rem; }
    .ac-menu-left .ac-profile-img img {
      width: 135px !important;
      height: 135px !important; }
  .ac-menu-left .personal-info #pic_profile {
    width: 100px;
    height: 100px; }

  .account-menu .navbar-nav .nav-link {
    font-size: .8rem; }

  .files-form .col-img .col-md-4 p {
    padding: 0 1.5rem; } }
@media (max-width: 991px) {
  .account-logged .account-menu .navbar-nav {
    display: inline-block; }
    .account-logged .account-menu .navbar-nav .nav-link {
      margin-right: 0; }
    .account-logged .account-menu .navbar-nav li {
      float: left;
      padding: 0 .5rem; }

  .ac-menu-left .personal-info #pic_profile {
    width: 75px;
    height: 75px; }

  .files-form .col-img .col-md-4 p,
  .invoice-body .col-img .col-md-4 p {
    padding: 0 .5rem; }
  .files-form .content-title.mt-5,
  .invoice-body .content-title.mt-5 {
    margin-top: 1rem !important; } }
@media (max-width: 767px) {
  .account-logged .account-menu {
    margin-left: -7px; }
    .account-logged .account-menu .ac-ul-menu ul li:last-child {
      margin-bottom: 1.5rem; }

  .hide-767 {
    display: none; }

  .show-767 {
    display: block; }

  .ac-btn-action .show-767 {
    display: initial; }

  .banner img {
    height: 120px;
    object-fit: cover; }
  .banner h2 {
    font-size: 1.5rem; }

  .account-body .col-xl-3.col-lg-4 {
    padding: 0;
    width: 100%; }
  .account-body .col-xl-9.col-lg-8 {
    width: 100%; }

  .ac-menu-left {
    padding-bottom: .5rem !important; }
    .ac-menu-left .ac-profile-img {
      padding: 1.5rem;
      margin-top: -4rem;
      width: 35%;
      float: left; }
      .ac-menu-left .ac-profile-img img {
        width: 100px !important;
        height: 100px !important; }
    .ac-menu-left .ac-personal {
      width: 65%;
      float: left;
      padding: 1rem 1.5rem 0; }
      .ac-menu-left .ac-personal span:first-child {
        font-family: "DBAdmanXBold";
        font-size: 1.5rem; }
    .ac-menu-left .ac-information {
      background-color: #f6ecc9;
      width: 100%;
      float: left;
      padding: 1.5rem; }
      .ac-menu-left .ac-information::after {
        display: block;
        content: "";
        clear: both;
        float: none; }
      .ac-menu-left .ac-information .ac-info-item {
        margin: .5rem 0; }
      .ac-menu-left .ac-information .ac-info-icon {
        top: 4px;
        height: 45px;
        width: 45px; }
    .ac-menu-left .img_edit {
      background-size: cover;
      width: 34px;
      height: 34px;
      right: 0rem; }

  .account-logged .account-menu .navbar-nav {
    display: block; }

  .account-body .account-menu .navbar-nav {
    font-size: .8rem; }
    .account-body .account-menu .navbar-nav .nav-link {
      display: inline-block;
      padding: .25rem 0 0;
      margin-bottom: .25rem; }
      .account-body .account-menu .navbar-nav .nav-link.active {
        border: none;
        box-shadow: 0px 2px 0px 0px #cec6b2; }
  .account-body .ac-about.mt-5 {
    margin-top: 1.5rem !important; } }
@media (max-width: 575px) {
  .ac-menu-left .ac-profile-img {
    margin-top: -4rem; }
    .ac-menu-left .ac-profile-img img {
      width: 100px !important;
      height: 100px !important; }

  .dealer-head .dealer-id {
    font-size: 1rem;
    padding-top: 6px; }

  .files-form .col-img {
    padding: .5rem; } }
@media (max-width: 1399px) {
  .singup-home .head-sect span,
  .singup-home .head-sect strong {
    font-size: 3rem;
    line-height: 3rem; }

  .forum-box .forum-body .gradient-gold-y {
    padding: 0 1rem; }

  .forum-body .forum-img img {
    width: 70px;
    height: 70px; }

  .news-home .news-list {
    height: auto; }

  .news-home .news-list .news-item .news-desc {
    padding: 0 1.5rem 1.5rem; }
  .news-home .news-list .col-md-7 .col-md-6 {
    position: relative; }
    .news-home .news-list .col-md-7 .col-md-6 .news-item {
      height: 100%; }
      .news-home .news-list .col-md-7 .col-md-6 .news-item .news-desc {
        width: 100%; }
  .news-home .news-list .col-md-5 .slick-1-item .slick-dots {
    width: auto;
    bottom: 2rem;
    right: 2rem; }
  .news-home .news-list .col-md-5 .slick-1-item .news-item img {
    height: 616px; }

  .member-home .member-list .slick-slide.slick-current.slick-active .member-item {
    padding-left: 0;
    padding-right: 1rem; }
  .member-home .member-list .slick-slide.slick-active .member-item {
    padding-right: 0; } }
@media (max-width: 1199px) {
  .singup-home .head-sect span,
  .singup-home .head-sect strong {
    font-size: 2.6rem;
    line-height: 2.6rem; }

  .hide-1199 {
    display: none; }

  .community-desc #pic_profile {
    width: 170px;
    height: 170px; }
  .community-desc .col-lg-9.col-md-8 .ps-5.pt-3 {
    padding-left: 1rem !important; }

  .forum-body .forum-img img {
    width: 55px;
    height: 55px; }

  .member-list.slick-2-item {
    margin-top: 0 !important; }

  #topMenu .nav-link {
    font-size: 0.9rem;
    padding: .5rem .75rem; }

  .event-home .slick-1-item {
    margin-top: .5rem !important; }
    .event-home .slick-1-item .slick-dots {
      bottom: 2rem; }

  .news-home .news-list {
    margin-top: .5rem !important; }
    .news-home .news-list .col-md-5 .news-slide {
      margin-bottom: 0; }
    .news-home .news-list .col-md-5 .slick-1-item .news-item img {
      height: 517px; }
    .news-home .news-list .col-md-5 .slick-1-item .slick-dots {
      bottom: 1rem;
      right: 1rem; }
    .news-home .news-list .news-item .news-desc {
      padding: 0 1rem 1rem; }
      .news-home .news-list .news-item .news-desc p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden; }

  .slick-dots li {
    width: 16px;
    height: 16px; }

  .signup-member .singup-form,
  .singup-home .singup-form {
    padding: 0 5rem; }

  .navbar-toggler {
    outline: none; }
    .navbar-toggler:focus {
      box-shadow: none; }

  .navbar-brand .logo-tgjta {
    max-width: 26px;
    margin-top: -2px;
    margin-right: 12px; }
  .navbar-brand .mobile-logo {
    max-width: 100px; }

  .navbar {
    border-top: none; }
    .navbar .container {
      max-width: 100%;
      padding: 0 30px; }

  .navbar-light .navbar-toggler {
    border-color: transparent;
    padding: 0; }

  .mobile-menu-right .user-login {
    padding-top: 10px; }
    .mobile-menu-right .user-login i {
      margin-right: 6px;
      font-size: 1.25rem; }
    .mobile-menu-right .user-login .user-menu-login {
      position: absolute;
      z-index: 999;
      background: #fff;
      width: 200px;
      right: -16px;
      top: 2.85rem;
      border-radius: 6px;
      box-shadow: 0px 0px 8px 2px #cec6b2; }
      .mobile-menu-right .user-login .user-menu-login::before {
        content: '';
        position: absolute;
        top: 0;
        right: 1rem;
        width: 0;
        height: 0;
        border: 13px solid transparent;
        border-bottom-color: #ffffff;
        border-top: 0;
        margin-left: -13px;
        margin-top: -13px; }
      .mobile-menu-right .user-login .user-menu-login ul {
        list-style: none;
        padding: 1rem 1.5rem;
        margin: 0; }
        .mobile-menu-right .user-login .user-menu-login ul a {
          text-decoration: none; }

  .event-home .slick-1-item .slick-dots {
    bottom: -2rem;
    width: 100%; }
    .event-home .slick-1-item .slick-dots li {
      background: #cec6b2; } }
@media (max-width: 991px) {
  #registerModal .modal-dialog .modal-content {
    padding: 1rem; }

  .category-home .tg-title {
    margin-top: 6rem;
    margin-bottom: 2rem; }

  .hide-991 {
    display: none; }

  .show-991 {
    display: block; }

  .community-content {
    padding-bottom: 2rem !important; }
    .community-content .community-name {
      text-align: center; }
      .community-content .community-name span {
        padding: 0 !important; }

  .community-desc {
    padding-bottom: 2rem !important; }

  .forum-box .reply-forum {
    padding: 0 .75rem; }

  .forum-body .forum-img img {
    width: 36px;
    height: 36px; }
  .forum-body .col-md-4 p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; }

  .event-content {
    padding-bottom: 2rem !important; }

  .knowledge-content {
    padding-bottom: 2rem !important; }
    .knowledge-content .knowledge-hot .bg-lightgold.position-relative {
      height: 270px; }
      .knowledge-content .knowledge-hot .bg-lightgold.position-relative::after {
        content: '';
        clear: both;
        float: none; }
      .knowledge-content .knowledge-hot .bg-lightgold.position-relative .w-50 {
        float: left; }
        .knowledge-content .knowledge-hot .bg-lightgold.position-relative .w-50 .hot-img img {
          height: 270px;
          object-fit: cover;
          object-position: top; }
      .knowledge-content .knowledge-hot .bg-lightgold.position-relative .item-body {
        position: static !important;
        transform: none !important;
        padding: 1.5rem; }
        .knowledge-content .knowledge-hot .bg-lightgold.position-relative .item-body h1 {
          font-size: calc(1.375rem + .4vw);
          line-height: 21px; }
    .knowledge-content .event-text {
      margin-top: 0 !important; }
      .knowledge-content .event-text h2 {
        line-height: 21px; }

  .view-all,
  .view-all a {
    font-size: 1.15rem; }

  .mobile-menu-right .user-managed {
    padding-top: 5px;
    margin-right: 1rem; }
    .mobile-menu-right .user-managed a {
      text-decoration: none;
      color: #665f4f; }
    .mobile-menu-right .user-managed i {
      font-size: 1rem; }

  .fixed-scroll {
    top: 1rem; }

  .top-nav {
    display: none; }

  .logo-top.navbar-brand,
  .mobile-menu-right {
    display: flex; }

  #topMenu .nav-link {
    padding: .5rem 0rem; }

  .btn-black-border {
    font-size: 1.15rem; }

  .navbar-collapse {
    margin: 2rem 0 1rem;
    text-align: right; }
    .navbar-collapse .navbar-nav {
      border-top: 1px solid;
      border-bottom: 1px solid; }
    .navbar-collapse .dropdown-toggle::after {
      margin-right: -.85rem; }
    .navbar-collapse .dropdown-menu {
      text-align: right; }

  .ptb-2rem {
    padding: 2rem 0 0; }

  .slick-dots li {
    width: 15px;
    height: 15px; }

  .news-home {
    margin: 0 -0.35rem; }
    .news-home .news-list.mt-4 {
      margin-top: .5rem !important; }
    .news-home .col-lg-4 {
      margin-bottom: 1.5rem; }
    .news-home .col-md-7 .col-md-6 {
      margin-bottom: .35rem;
      padding: 0 .35rem; }
    .news-home .col-md-7 .col-md-12 {
      margin-top: .35rem;
      padding: 0 .35rem; }
    .news-home .col-md-7 .btn,
    .news-home .col-md-7 a {
      font-size: .8rem;
      padding: 4px 6px 2px; }
    .news-home .col-md-7 .news-item h2 {
      line-height: 25px; }
    .news-home .col-md-5 {
      padding: 0 .35rem; }
      .news-home .col-md-5 .slick-1-item .slick-dots {
        bottom: 1rem;
        right: 1rem; }
      .news-home .col-md-5 .slick-1-item .news-item .news-desc {
        padding: 0 1rem 3rem; }
      .news-home .col-md-5 .slick-1-item .news-item img {
        height: 384px; }
      .news-home .col-md-5 .btn-news-group a {
        font-size: .9rem;
        padding: 4px 6px 2px; }
    .news-home .news-item .news-desc {
      padding: 0 1rem 1rem; }
    .news-home .btn-news-group {
      display: flex; }

  .tg-title h3 {
    font-size: 1.35rem !important; }

  .member-home {
    padding-bottom: 1rem !important; }
    .member-home .member-item .absolute-center {
      padding-right: 0 !important; }
      .member-home .member-item .absolute-center p {
        font-size: 1.15rem;
        line-height: 1.25rem; }
      .member-home .member-item .absolute-center .btn-tg-group {
        margin-top: 0 !important; }
        .member-home .member-item .absolute-center .btn-tg-group a {
          font-size: 1rem; }
    .member-home .member-list .slick-dots {
      bottom: -2rem; }

  .btn-black-border {
    border: 1px solid #000; }

  .singup-home .singup-form,
  .singup-home .sign-member {
    padding: 0 2rem; }

  .event-home .slick-1-item.mt-4 {
    margin-top: .5rem !important; }

  .member-home .member-list.mt-3 {
    margin-top: .5rem !important; }

  .contact-home {
    padding-bottom: 2rem !important; }

  .map-home iframe {
    height: 300px; }

  .to-top {
    right: 1rem; }

  .member-home .member-list .slick-list.draggable {
    margin: 0; }

  .member-content {
    margin-bottom: 2rem; } }
@media (max-width: 767px) {
  .relate-list .row .col-md-4:not(:last-child) {
    margin-bottom: 1.5rem; }

  #registerModal .modal-dialog .modal-content .register-desc .col-md-6:first-child {
    border-right: none;
    border-bottom: 2px solid #665f4f;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem; }

  .singup-home .singup-form {
    border-right: none;
    border-bottom: 2px solid #665f4f;
    padding-bottom: 3rem; }
  .singup-home .sign-member {
    padding-top: 3rem; }
  .singup-home .col-md-6 {
    padding: 0 1rem !important; }

  .price-update .nav-pills {
    font-size: .9rem; }

  .community-desc #pic_profile {
    width: 145px;
    height: 145px; }

  .forum-box .forum-body .member-info span,
  .forum-box .forum-body .member-info strong {
    font-size: 1.15rem; }

  .community-content .container {
    position: relative; }
    .community-content .container .text-center.mb-3 {
      text-align: left !important; }
    .community-content .container .col-md-6 .a-hover-white {
      position: absolute;
      top: 0;
      width: auto !important;
      right: .75rem;
      font-size: 1rem;
      padding: 2px 10px 0; }
    .community-content .container .forum-body .col-lg-4.col-md-5 {
      padding-left: 2rem; }

  .scroll-down {
    top: .75rem; }

  .scroll-up {
    top: 0; }

  .col-order-1 {
    order: 1; }

  .col-order-2 {
    order: 2; }

  .tg-title h3 {
    font-size: 1.15rem !important; }

  .category-home .bg-title .row {
    position: relative; }
    .category-home .bg-title .row .col-md-8 {
      margin-top: 3rem; }
      .category-home .bg-title .row .col-md-8 div.fs-1 {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 1rem; }
      .category-home .bg-title .row .col-md-8 .tg-title.mt-5rem {
        margin-top: 1rem;
        margin-bottom: 1rem; }
  .category-home .tg-title {
    margin-top: 3rem;
    margin-bottom: 1rem; }
  .category-home .col-md-6.col-order-2,
  .category-home .col-md-7.col-order-2 {
    margin-top: 1.5rem; }

  .category-list {
    padding-top: 1rem !important; }

  .price-update .price-subject strong {
    margin-left: 1rem;
    font-size: .85rem; }

  .event-home .event-item .absolute-center {
    position: static;
    transform: none;
    width: 100% !important;
    padding: 2rem; }
    .event-home .event-item .absolute-center .btn-tg-group {
      display: block !important; }
  .event-home .slick-1-item .event-item img {
    padding: 0; }

  .news-home .news-list .col-md-7 .col-md-6,
  .news-home .news-list .col-md-7 .col-md-12 .news-item {
    height: auto; }

  .member-home .member-list .slick-slide.slick-current.slick-active .member-item {
    padding: 0; }

  .signup-member .absolute-center {
    position: static;
    transform: none; }

  .singup-home .absolute-center {
    position: static;
    transform: none; }

  .contact-home .contact-info {
    margin-bottom: 3rem; }

  .copy-right {
    font-size: .85rem; } }
@media (max-width: 575px) {
  .hide-575 {
    display: none; }

  .show-575 {
    display: show; }

  #registerModal .modal-dialog {
    padding: 2rem; }
    #registerModal .modal-dialog .modal-body {
      padding: 0; }

  .price-update .nav-pills {
    justify-content: center !important; }

  .community-desc .col-lg-9.col-md-8 .ps-5.pt-3 {
    padding-left: 0 !important; }

  .forum-box .forum-head {
    display: none; }
  .forum-box .forum-body .col-lg-3.col-md-4 {
    display: none; }

  .list-forum .desc-head img {
    width: 30px;
    height: 30px;
    object-fit: cover; }
  .list-forum .desc-head .wbd-info .wbd-action {
    line-height: 20px; }

  .hide-575 {
    display: none; }

  .show-575 {
    display: block; }

  .community-content {
    margin: 0 1rem; }
    .community-content .list-forum .row {
      margin: 0; }

  .social-item a {
    width: 100%; }

  .knowledge-content .knowledge-hot {
    border: 1px solid #cec6b2;
    border-radius: 6px;
    background: #cec6b2; }
    .knowledge-content .knowledge-hot .bg-lightgold.position-relative {
      height: auto; }
      .knowledge-content .knowledge-hot .bg-lightgold.position-relative .w-50 {
        width: 100% !important;
        float: none; }
      .knowledge-content .knowledge-hot .bg-lightgold.position-relative .item-body {
        padding-bottom: 4rem; }
        .knowledge-content .knowledge-hot .bg-lightgold.position-relative .item-body .event-date {
          margin-top: 0 !important; }
    .knowledge-content .knowledge-hot .slick-dots {
      bottom: 14px; }
      .knowledge-content .knowledge-hot .slick-dots li {
        background-color: #fff; }
        .knowledge-content .knowledge-hot .slick-dots li.slick-active {
          background-color: #665f4f; }

  .member-content {
    padding-top: 1rem; }
    .member-content .item-body {
      padding: 0 1.5rem 0 1rem; }
      .member-content .item-body h5 {
        font-size: 1rem; }
      .member-content .item-body p {
        line-height: 1.25rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        /* number of lines to show */
        -webkit-box-orient: vertical; }
    .member-content .box-member a,
    .member-content .box-member p {
      font-size: 1rem;
      margin-bottom: 0;
      line-height: 1rem; }

  .category-home .bg-title .row .col-md-8 div.fs-1 {
    line-height: 28px; }
  .category-home .category-list .item-text {
    height: 50px; }
    .category-home .category-list .item-text h2 {
      font-size: 1rem !important; }

  .to-top {
    height: 40px;
    width: 40px;
    bottom: 4rem;
    right: 0.75rem; }

  .copy-right a {
    display: block; }

  .information-center .advisory .col-lg-3 {
    padding: 0 1rem; } }
@media (max-width: 360px) {
  .navbar-brand .mobile-logo {
    max-width: 75px; } }

/*# sourceMappingURL=response.css.map */
