body {
  font-family: "Montserrat-Regular"; }

img {
  width: 100%; }

.ff-medium {
  font-family: "Montserrat-Medium"; }

.ff-semibold {
  font-family: "Montserrat-SemiBold"; }

.ff-bold {
  font-family: "Montserrat-Bold"; }

.pt-2rem {
  padding-top: 2rem; }

.ptb-2rem {
  padding: 2rem 0; }

.ptb-1rem {
  padding: 1rem 0; }

.plr-2rem {
  padding: 0 2rem; }

.plr-4rem {
  padding: 0 4rem; }

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.box-shadow {
  box-shadow: 0px 0px 4px 4px #c1c1c1; }

.shadow-darkgold {
  box-shadow: 0px 0px 10px 4px #665f4f; }

.shadow-lightgold {
  transition: all .5s;
  border: 1px solid #cec6b2; }
  .shadow-lightgold:hover {
    transition: all .5s;
    box-shadow: 0px 0px 10px 4px #cec6b2; }

.c-darkgold {
  color: #665f4f; }

.bg-darkgold {
  background-color: #665f4f; }

.bg-lightgold {
  background-color: #cec6b2; }

.bg-gray {
  background-color: #c1c1c1; }

.bg-lightgray {
  background-color: #ebebeb; }

.c-gray {
  color: #c1c1c1; }

.c-lightgray {
  color: #ebebeb; }

.c-black {
  color: #000000; }

.c-white {
  color: #ffffff; }

.btn-black-border {
  border: 2px solid #000000;
  font-family: "Montserrat-SemiBold"; }

.btn-white-border {
  border: 2px solid #ffffff;
  font-family: "Montserrat-SemiBold"; }

.btn-tg-group .btn {
  margin: 0 .5rem; }

.slick-dots-1 li {
  background-color: #ffffff;
  border-radius: 50px; }
  .slick-dots-1 li button:before {
    content: ''; }
  .slick-dots-1 li.slick-active {
    background-color: #665f4f; }

.slick-dots-2 li {
  background-color: #cec6b2;
  border-radius: 50px; }
  .slick-dots-2 li button:before {
    content: ''; }
  .slick-dots-2 li.slick-active {
    background-color: #665f4f; }

.btn-darkgold {
  background-color: #665f4f; }

.cs-pointer {
  cursor: pointer; }

.ul-clean {
  padding: 0;
  list-style: none; }

.fs-7 {
  font-size: 0.8rem; }

.border-b-darkgold {
  border-bottom: 1px solid #665f4f; }

.navbar {
  border-top: 2px solid #c1c1c1;
  border-bottom: 2px solid #c1c1c1;
  padding: 5px 0 2px; }

.navbar-light.fixed-top {
  background-color: #ffffff; }

#topMenu {
  font-family: "Montserrat-Bold";
  justify-content: center; }
  #topMenu .nav-link {
    padding: .5rem 1.25rem;
    text-transform: uppercase; }

.top-nav {
  padding: 1rem 0; }
  .top-nav .logo-top img {
    max-width: 250px; }
  .top-nav a {
    text-decoration: none;
    color: #000000; }

.top-more-menu {
  font-size: 0.8rem; }
  .top-more-menu a:hover {
    font-family: "Montserrat-Bold"; }
  .top-more-menu .user-login span:hover {
    font-family: "Montserrat-Bold"; }
  .top-more-menu .user-menu-login {
    position: absolute;
    top: 2rem;
    right: 0;
    z-index: 99;
    width: 220px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px #c1c1c1; }
    .top-more-menu .user-menu-login::after {
      content: '';
      position: absolute;
      top: 0;
      right: 1rem;
      width: 0;
      height: 0;
      border: 13px solid transparent;
      border-bottom-color: #ffffff;
      border-top: 0;
      margin-left: -13px;
      margin-top: -13px; }
    .top-more-menu .user-menu-login ul {
      padding: 1rem;
      margin: 0;
      list-style: none;
      text-align: left; }
      .top-more-menu .user-menu-login ul li:not(:last-child) {
        margin-bottom: .5rem; }

.account-menu .navbar-nav {
  flex-direction: initial; }
  .account-menu .navbar-nav .nav-link {
    font-family: "Montserrat-SemiBold";
    text-transform: uppercase;
    margin-right: 1rem; }
    .account-menu .navbar-nav .nav-link.active {
      border-bottom: 2px solid #000000;
      padding-bottom: 0; }

.account-body .album-item .slider-nav-item {
  padding: .5rem; }

.ac-menu-left {
  background-color: #cec6b2; }
  .ac-menu-left .img_edit {
    position: absolute;
    bottom: 3rem;
    right: 2rem; }
  .ac-menu-left .ac-information .ac-info-item {
    background-color: #f6ecc9;
    margin: .5rem -1.5rem .5rem 0;
    border-radius: 50px 0 0 50px;
    padding: 5px 0 5px 4rem;
    position: relative;
    height: 54px; }
  .ac-menu-left .ac-information .ac-info-icon {
    position: absolute;
    left: 0;
    top: 0;
    height: 54px;
    width: 54px;
    background-color: #ffffff;
    border-radius: 50px; }
    .ac-menu-left .ac-information .ac-info-icon i {
      font-size: 1.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #665f4f; }
  .ac-menu-left .ac-information input,
  .ac-menu-left .ac-information select {
    padding: 0 .5rem;
    margin-top: -2px;
    font-size: .85rem; }
  .ac-menu-left .ac-profile-img {
    padding: 0 1rem 1rem;
    margin-top: -8rem; }
    .ac-menu-left .ac-profile-img img {
      border-radius: 50%;
      box-shadow: 0px 0px 0px 6px #cec6b2; }

.input-disabled input:disabled,
.input-disabled textarea:disabled {
  background-color: transparent;
  border: none;
  padding: 0 !important; }

.myfile-menu-list {
  position: absolute;
  top: 3rem;
  right: 1rem;
  z-index: 99;
  width: 94%;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px #c1c1c1; }
  .myfile-menu-list a {
    text-decoration: none;
    color: #000000; }
    .myfile-menu-list a:hover {
      font-family: "Montserrat-SemiBold"; }
  .myfile-menu-list::after {
    content: '';
    position: absolute;
    top: 0;
    right: 1rem;
    width: 0;
    height: 0;
    border: 13px solid transparent;
    border-bottom-color: #ffffff;
    border-top: 0;
    margin-left: -13px;
    margin-top: -13px; }
  .myfile-menu-list ul {
    padding: 1rem;
    margin: 0;
    list-style: none;
    text-align: left; }
    .myfile-menu-list ul li {
      border-bottom: 1px solid #c1c1c1;
      padding-bottom: .5rem; }
      .myfile-menu-list ul li:not(:last-child) {
        margin-bottom: .5rem; }

.event-body .slick-3-item-hide-dot .slick-slide {
  padding: 1rem; }
.event-body .event-info {
  padding: 1rem; }

.acform-body .acform-item {
  background-color: #ebebeb;
  padding: 1rem;
  border-radius: 6px; }
  .acform-body .acform-item .ac-form-file i {
    font-size: 6rem; }
.acform-body .acform-upload {
  background-color: #ebebeb;
  padding: 4rem 1rem;
  border-radius: 6px; }

.img_edit {
  background-image: url("../../images/img-edit.jpg");
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  cursor: pointer; }
  .img_edit:hover {
    background-position: bottom; }

#pic_profile {
  width: 226px;
  height: 226px;
  object-fit: cover; }

.category-home .bg-title {
  background-image: url("../../images/home/bg-title.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
.category-home .category-list {
  background-color: #ebebeb; }
  .category-home .category-list .cateory-item {
    padding: 0 .5rem; }
  .category-home .category-list .item-text {
    height: 100px;
    background-color: #ffffff; }
  .category-home .category-list .slick-5-item .slick-list {
    padding: .5rem 0; }
  .category-home .category-list .slick-5-item .slick-dots li {
    background-color: #cec6b2;
    border-radius: 50px; }
    .category-home .category-list .slick-5-item .slick-dots li button:before {
      content: ''; }
    .category-home .category-list .slick-5-item .slick-dots li.slick-active {
      background-color: #665f4f; }

.price-update .price-subject strong {
  display: inline;
  margin-left: 2rem; }

.table-price table {
  border: 1px solid #000000; }
  .table-price table tbody,
  .table-price table td,
  .table-price table tfoot,
  .table-price table th,
  .table-price table thead,
  .table-price table tr {
    border-width: 1px; }
  .table-price table tbody tr td:first-child {
    background-color: #cec6b2; }
  .table-price table tbody tr:nth-last-child(n+3) td:nth-child(n+2):nth-last-child(n+3) {
    background-color: #c1c1c1; }

.event-home .slick-1-item {
  background-color: #cec6b2; }
  .event-home .slick-1-item .slick-dots {
    width: 41.66%;
    bottom: 5rem;
    right: 0; }
    .event-home .slick-1-item .slick-dots li {
      background-color: #ffffff;
      border-radius: 50px; }
      .event-home .slick-1-item .slick-dots li button:before {
        content: ''; }
      .event-home .slick-1-item .slick-dots li.slick-active {
        background-color: #665f4f; }

.news-home .news-list {
  overflow: hidden;
  height: 600px; }
  .news-home .news-list .col-md-5 .slick-1-item .slick-dots {
    bottom: 2rem; }
    .news-home .news-list .col-md-5 .slick-1-item .slick-dots li {
      background-color: #ffffff;
      border-radius: 50px; }
      .news-home .news-list .col-md-5 .slick-1-item .slick-dots li button:before {
        content: ''; }
      .news-home .news-list .col-md-5 .slick-1-item .slick-dots li.slick-active {
        background-color: #665f4f; }
  .news-home .news-list .col-md-7 .col-md-6 {
    overflow: hidden;
    height: 300px; }
  .news-home .news-list .col-md-7 .col-md-6 {
    margin-bottom: .75rem; }
  .news-home .news-list .col-md-7 .col-md-12 {
    margin-top: .75rem; }
  .news-home .news-list .col-md-7 .btn,
  .news-home .news-list .col-md-7 a {
    font-size: .75rem; }
  .news-home .news-list .news-item {
    position: relative;
    cursor: pointer; }
    .news-home .news-list .news-item::before {
      content: '';
      background-color: rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 99; }
    .news-home .news-list .news-item .news-desc {
      bottom: 0;
      width: 100%;
      padding: 0 3rem 6rem;
      z-index: 999; }

.member-home .member-list {
  margin: 0 -1rem; }
  .member-home .member-list .member-item {
    padding: .5rem 1rem; }
  .member-home .member-list .sub-img ul {
    list-style: none;
    padding: 0; }
    .member-home .member-list .sub-img ul li {
      width: 33.33%;
      float: left; }
      .member-home .member-list .sub-img ul li:first-child {
        padding-right: .5rem; }
      .member-home .member-list .sub-img ul li:nth-child(2) {
        padding: 0 .25rem; }
      .member-home .member-list .sub-img ul li:last-child {
        padding-left: .5rem; }
  .member-home .member-list .slick-dots {
    bottom: -3rem; }

.singup-home {
  background-color: #d6d6d6; }
  .singup-home .singup-form {
    padding: 0 10rem; }
    .singup-home .singup-form input {
      background-color: transparent;
      border: 1px solid #000000; }

.map-home iframe {
  width: 100%; }

.contact-home {
  background-image: url("../../images/home/contact-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .contact-home .social-contact a {
    display: block;
    text-decoration: none;
    color: #000000;
    margin-bottom: .5rem; }
    .contact-home .social-contact a i {
      text-align: center;
      margin-right: .5rem;
      width: 20px; }
    .contact-home .social-contact a:hover {
      font-family: "Montserrat-SemiBold"; }
  .contact-home .follow-us strong,
  .contact-home .follow-us a {
    margin-right: 1rem;
    display: inline-block;
    color: #000000; }
    .contact-home .follow-us strong i,
    .contact-home .follow-us a i {
      font-size: 1.5rem; }
    .contact-home .follow-us strong:hover,
    .contact-home .follow-us a:hover {
      color: #665f4f; }
  .contact-home .contact-form .form-group {
    margin-bottom: 1rem; }
    .contact-home .contact-form .form-group input {
      background: transparent;
      border: 1px solid #000000; }

.copy-right {
  background-color: #665f4f;
  color: #ffffff;
  padding: 1rem 0 .8rem; }
  .copy-right a {
    color: #ffffff;
    text-decoration: none;
    padding-left: 1rem; }

.modal .modal-header {
  border: none; }

.input-nobg .form-control {
  background: transparent;
  border: 1px solid #000000; }

.errors ul {
  margin-bottom: 0; }

.banner-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.about-content {
  position: relative; }
  .about-content::after {
    content: '';
    position: absolute;
    background-color: #ebebeb;
    width: 100%;
    height: 40%;
    bottom: 0;
    left: 0;
    z-index: -1; }

.knowledge-content .knowledge-hot .row {
  margin: 0; }
  .knowledge-content .knowledge-hot .row .col-md-6 {
    padding: 0; }

.search-member form .w-50:nth-child(odd) {
  padding-right: 15px; }
.search-member form .w-50:nth-child(even) {
  padding-left: 15px; }
.search-member form .input-group .input-group-text {
  height: 100%;
  border-radius: 0 .25rem .25rem 0;
  border: 1px solid #665f4f; }
.search-member form select {
  padding: .375rem .75rem;
  border-radius: .25rem;
  border: 1px solid #ced4da; }
.search-member form .col-md-6 {
  margin-bottom: 1rem; }

.member-content .shadow-lightgold {
  padding: 1rem; }
.member-content .album-item .slider-nav-item {
  padding: 0 .25rem; }

.contact-content .map-location iframe {
  width: 100%; }

.forum-head {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 6px 0; }

.forum-body .row {
  padding: 10px 0;
  border-bottom: 1px solid #000000; }
.forum-body h2 {
  line-height: 1rem; }
.forum-body p {
  line-height: 1.2rem;
  font-size: .85rem;
  margin-top: 6px; }
.forum-body .forum-img {
  cursor: pointer; }

.forum-box .forum-body .gradient-gold-y {
  padding: 0 3rem; }
.forum-box .forum-body .forum-profile {
  margin-top: 1.5rem; }
.forum-box .forum-body .member-info {
  margin-top: 1rem; }
  .forum-box .forum-body .member-info strong {
    margin-right: 15px; }
  .forum-box .forum-body .member-info .info-item {
    display: inline-flex; }
.forum-box .reply-forum {
  padding: 0 1.5rem; }

.gradient-gold-y {
  background: white;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #cfc7b2 100%); }

/*# sourceMappingURL=style.css.map */
